<div class="analysis-wrap">
<div class="bread-nav-wrap">
    <ul class="bread-nav clearfix">
      <li class="bread-nav-item home">
        <a class="link-item" href=""><span class="glyphicon glyphicon-home"></span></a>
      </li>
      <li class="bread-nav-item">
        <span class="link-item" href="">嫌疑犯详情</span>
      </li>
    </ul>
  </div>
  <!-- 路径导航 end -->
  <div class="left-side left-side-inverse column-18">
    <div class="left-side-heading">
      <div class="heading-title">
        <a class="pull-right small" href="">回首页</a>
        嫌疑犯
      </div>
      <div class="input-group">
        <input type="text" class="form-control" value="搜索">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">
          搜
          </button>
        </span>
      </div>
    </div>
    <ul class="analysis-img-list">
      <% @suspects.each do |suspect_item| %>
        <li class="list-item <% if suspect_item.id == @suspect.id%> active<% end %>">
          <a href="/suspects/<%=suspect_item.id%>" class="img-wrap">
            <%= image_tag("#{suspect_item.photo}")%>
            <div class="img-title"><%= suspect_item.name %></div>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <!-- left-side end -->

  <div class="right-side column-24">
    <div class="inner-panel">
      <div class="panel-heading">
        <div class="panel-title">
          家庭成员
        </div>
      </div>
      <div class="block-plr">
        <ul class="media-list media-img40">
          <li class="media">
            <div class="media-left">
              <%= image_tag("/assets/common/images/image/people1.png",:class => "img-circle")%>
            </div>
            <div class="media-body">
              <div class="media-heading">Nicole Harrison</div>
              <div class="text-muted">母亲，82岁，女</div>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <%= image_tag("/assets/common/images/image/people5.png",:class => "img-circle")%>
            </div>
            <div class="media-body">
              <div class="media-heading">Nicole Harrison</div>
              <div class="text-muted">母亲，82岁，女</div>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <%= image_tag("/assets/common/images/image/people6.png",:class => "img-circle")%>
            </div>
            <div class="media-body">
              <div class="media-heading">Nicole Harrison</div>
              <div class="text-muted">母亲，82岁，女</div>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <%= image_tag("/assets/common/images/image/people7.png",:class => "img-circle")%>
            </div>
            <div class="media-body">
              <div class="media-heading">Nicole Harrison</div>
              <div class="text-muted">母亲，82岁，女</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="inner-panel">
      <div class="panel-heading">
        <div class="panel-title">
          关联车辆  
        </div>
      </div>
      <div class="block-plr">
        <ul class="media-list media-img40">
          <li class="media">
            <div class="media-left">
              <%= image_tag("/assets/common/images/car_def.png",:class => "img-circle")%>
            </div>
            <div class="media-body">
              <div class="media-heading">5-214-34-038</div>
              <div class="text-muted">白色，轿车</div>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <%= image_tag("/assets/common/images/car_def.png",:class => "img-circle")%>
            </div>
            <div class="media-body">
              <div class="media-heading">5-214-34-038</div>
              <div class="text-muted">白色，轿车</div>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <%= image_tag("/assets/common/images/car_def.png",:class => "img-circle")%>
            </div>
            <div class="media-body">
              <div class="media-heading">5-214-34-038</div>
              <div class="text-muted">白色，轿车</div>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <%= image_tag("/assets/common/images/car_def.png",:class => "img-circle")%>
            </div>
            <div class="media-body">
              <div class="media-heading">5-214-34-038</div>
              <div class="text-muted">白色，轿车</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="inner-panel">
      <div class="panel-heading">
        <div class="panel-title">
          关联文档
        </div>
      </div>
      <div class="block-plr">
        <ul class="media-list media-img40">
          <li class="media">
            <div class="media-left">
              <%= image_tag("/assets/common/images/documemt_def.png",:class => "img-circle")%>
            </div>
            <div class="media-body">
              <div class="media-heading">Edward Rios</div>
              <div class="text-muted">重要，1月2日 20:34</div>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <%= image_tag("/assets/common/images/documemt_def.png",:class => "img-circle")%>
            </div>
            <div class="media-body">
              <div class="media-heading">Edward Rios</div>
              <div class="text-muted">重要，1月2日 20:34</div>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <%= image_tag("/assets/common/images/documemt_def.png",:class => "img-circle")%>
            </div>
            <div class="media-body">
              <div class="media-heading">Edward Rios</div>
              <div class="text-muted">重要，1月2日 20:34</div>
            </div>
          </li>
        </ul>
      </div>
    </div>  
  </div>
  <!-- right-side end -->
  <div class="container-18-24">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="info-show">
          <div class="info-left">
            <%= image_tag("#{@suspect.photo}")%>
          </div>
          <div class="info-body">
            <div class="info-heading clearfix">
              <div class="info-name pull-left"><%=@suspect.name%></div>
              <div class="ico-tool-list pull-right">
                <a class="ico-wrap" href="">
                  <div class="ico-name">5人</div>
                  <div class="text-gray">
                    <span class="aliconfont icon-family f14"></span> 家庭成员
                  </div>
                </a>
                <a class="ico-wrap" href="">
                  <div class="ico-name">5起</div>
                  <div class="text-gray">
                    <span class="aliconfont icon-file f14"></span> 关联案件
                  </div>
                </a>
                <a class="ico-wrap" href="">
                  <div class="ico-name">4台</div>
                  <div class="text-gray">
                    <span class="aliconfont icon-car f14"></span> 关联车辆
                  </div>
                </a>
                <a class="ico-wrap" href="">
                  <div class="ico-name">9份</div>
                  <div class="text-gray">
                    <span class="glyphicon glyphicon-file f14"></span> 关联文档 
                  </div>
                </a>
                <a class="ico-wrap" href="">
                  <div class="ico-name">5人</div>
                  <div class="text-gray">
                    <span class="aliconfont icon-tab f14"></span> 标签信息
                  </div>
                </a>
              </div>
            </div>
            <div class="info-list-wrap">
              <ul class="float-ul wu2 clearfix lh22">
                <li class="float-ul-item">姓名：<%= @suspect.name %></li>
                <li class="float-ul-item">现住址：山东市东华北里20号楼1单元701室</li>
                <li class="float-ul-item">性别：男</li>
                <li class="float-ul-item">民族：回族</li>
                <li class="float-ul-item">年龄：34</li>
                <li class="float-ul-item">学历：高中</li>
                <li class="float-ul-item">户籍：山东</li>
                <li class="float-ul-item">毕业学校：第三中学</li>
                <li class="float-ul-item">电话：1328888888</li>
                <li class="float-ul-item">身份证：325234352342313141</li>
                <li class="float-ul-item">邮箱：25345346@126.com</li>
                <li class="float-ul-item">QQ号码：3443643</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="inner-panel-heading">
        <div class="panel-title">
          <div class="pull-right">
            <ul class="nav-line-space list-unstyled">
              <li class="active"><a href="">人际关系分析</a></li>
              <li><a href="">出行轨迹分析</a></li>
              <li><a href="">资金流转分析</a></li>
              <li><a href="">物流往来分析</a></li>
            </ul>
          </div>
          关联案件
        </div>
      </div>
      <div class="panel-body">
        <ul class="media-list media-time-axis">
          <li class="media">
            <div class="media-left">
              <%= image_tag("/assets/common/images/image/rectangle-a1.png",:class => "media-object")%>
            </div>
            <div class="media-body">
              <div class="title-conponent">
                <small class="pull-right text-gray">
                  <span class="glyphicon glyphicon-calendar text-primary"></span>&nbsp;2017-12-12&nbsp;12:12:12
                </small>
                <span class="f16">117走私案</span>
                <span class="label label-danger ml10">重要</span>
              </div>
              <div class="text-muted">
              违规和wig狐尾花跟号为宏观和我和我换个我还给我和我哥会偶尔我会狗儿文化宫二维火锅 而我国和文化宫IE文化宫IE我hi共，二维过后号未果后IE无花果hi嗯我。围殴号共和我哥和我号号号偶尔维护费，说过话威哥wigIE我。文广局微结构嗯我、
              </div>
              <div class="media media-img40">
                <div class="media-left">
                  <%= image_tag("/assets/common/images/image/people8.png",:class => 
                  "media-object img-circle") %>
                </div>
                <div class="media-body">
                  <div class="media-heading">
                    <small class="pull-right text-gray">
                      <span class="glyphicon glyphicon-calendar text-primary"></span>&nbsp;2017-12-12&nbsp;12:12:12
                    </small>
                    <span class="f16 text-capitalize">louis alvarez</span>  
                  </div>
                  <div class="alert alert-warning">
                    违规和wig狐尾花跟号为宏观和我和我换个我还给我和我哥会偶尔我会狗儿文化宫二维火锅 而我国和文化宫IE文化宫IE我hi共，二维过后号未果后IE无花果hi嗯我。围殴号共和我哥和我号号号偶尔维护费，说过话威哥wigIE我。文广局微结构嗯我、
                  </div>
                </div>                  
              </div>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <%= image_tag("/assets/common/images/image/rectangle-a2.png",:class => 
              "media-object")%>
            </div>
            <div class="media-body">
              <div class="title-conponent">
                <small class="pull-right text-gray">
                  <span class="glyphicon glyphicon-calendar text-primary"></span>&nbsp;2017-12-12&nbsp;12:12:12
                </small>
                <span class="f16">117走私案</span>
                <span class="label label-danger ml10">重要</span>
              </div>
              <div class="text-muted">
              违规和wig狐尾花跟号为宏观和我和我换个我还给我和我哥会偶尔我会狗儿文化宫二维火锅 而我国和文化宫IE文化宫IE我hi共，二维过后号未果后IE无花果hi嗯我。围殴号共和我哥和我号号号偶尔维护费，说过话威哥wigIE我。文广局微结构嗯我、
              </div>
              <div class="media media-img40">
                <div class="media-left">
                  <%= image_tag("/assets/common/images/image/people9.png",:class => 
                    "media-object img-circle") %>
                </div>
                <div class="media-body">
                  <div class="media-heading">
                    <small class="pull-right text-gray">
                      <span class="glyphicon glyphicon-calendar text-primary"></span>&nbsp;2017-12-12&nbsp;12:12:12
                    </small>
                    <span class="f16 text-capitalize">louis alvarez</span>  
                  </div>
                  <div class="alert alert-warning">
                    违规和wig狐尾花跟号为宏观和我和我换个我还给我和我哥会偶尔我会狗儿文化宫二维火锅 而我国和文化宫IE文化宫IE我hi共，二维过后号未果后IE无花果hi嗯我。围殴号共和我哥和我号号号偶尔维护费，说过话威哥wigIE我。文广局微结构嗯我、
                  </div>
                </div>                  
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>  
  </div>
  </div>