<div class="bread-nav-wrap">
		<ul class="bread-nav clearfix">
			<li class="bread-nav-item home">
				<a class="link-item" href=""><span class="glyphicon glyphicon-home"></span></a>
			</li>
			<li class="bread-nav-item">
				<a class="link-item" href="">分析gongju </a>
			</li>
			<li class="bread-nav-item">
				<span class="link-item">人际交往报告</span>
			</li>
		</ul>
	</div>
	<!-- 路径导航 end -->
	<div class="left-side left-side-inverse column-18">
		<div class="left-side-heading">
			<div class="heading-title">
				<a class="pull-right small" href="">回首页</a>
				分类	
			</div>
			<div class="input-group">
				<input type="text" class="form-control" value="搜索">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button">
					搜
					</button>
				</span>
			</div>
		</div>
		<div class="left-side-btn-menu">
			<a href="" class="btn btn-normal btn-block active" type="button">全部分类</a>	
			<a href="" class="btn btn-normal btn-block" type="button">人际交往报告(10)</a>	
			<a href="" class="btn btn-normal btn-block" type="button">出行轨迹报告(10)</a>	
			<a href="" class="btn btn-normal btn-block" type="button">资金流转报告(10)</a>	
			<a href="" class="btn btn-normal btn-block" type="button">物流往来报告(10)</a>	
			<a href="" class="btn btn-normal btn-block" type="button">消费情况报告(9)</a>	
			<a href="" class="btn btn-normal btn-block" type="button">人员只能画像(8)</a>	
			<a href="" class="btn btn-normal btn-block" type="button">其他(9)</a>	
		</div>
	</div>
	<!-- left-side end -->
	<div class="container-18">
		<div class="panel panel-default clearfix">
			<div class="inner-panel-heading">
				<div class="panel-title">
					新建分析
				</div>
			</div>
			<div class="inner-panel-body">
				<div class="add-analysis-tool">
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-relation"></span>
						<div class="mt5">通话关系</div>
					</a>
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-home"></span>
						<div class="mt5">银行交易</div>
					</a>
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-mony2"></span>
						<div class="mt5">资金流转</div>
					</a>
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-car2"></span>
						<div class="mt5">物流往来</div>
					</a>
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-mony"></span>
						<div class="mt5">消费情况</div>
					</a>
					<a class="add-analysis-item active" href="">
						<span class="aliconfont icon-person-pic"></span>
						<div class="mt5">人员画像</div>
					</a>
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-other"></span>
						<div class="mt5">其他</div>
					</a>
				</div>
			</div>
			<hr>
			<div class="inner-panel-heading">
				<div class="panel-title">
					<a class="more text-primary" href="">更多</a>
				人际交往报告</div>
			</div>	
			<div class="inner-panel-body">
				<div class="img-column">
					<ul class="clearfix list-unstyled block-list">
						<li class="col-xs-4 col-lg-2">
							<div class="img-wrap img-adapt" href="#">
								<a class="z-cell" href="">
									<%= image_tag("/assets/common/images/img-analy2.png",
									:class=>"img")%>
								</a>
								<div class="img-title">
									<span class="pull-right ml10 mr05">
										<a class="text-white aliconfont icon-edit mr5" href=""></a>
										<a class="text-white glyphicon glyphicon glyphicon-trash" href=""></a>
									</span>
									<div class="text-ellipsis">张三分析报告分析报告分析报告</div>
								</div>
							</div>
						</li>
						<li class="col-xs-4 col-lg-2">
							<div class="img-wrap img-adapt" href="#">
								<a class="z-cell" href="">
									<%= image_tag("/assets/common/images/img-analy2.png",
									:class=>"img")%>
								</a>
								<div class="img-title">
									<span class="pull-right ml10 mr05">
										<a class="text-white aliconfont icon-edit mr5" href=""></a>
										<a class="text-white glyphicon glyphicon glyphicon-trash" href=""></a>
									</span>
									<div class="text-ellipsis">张三分析报告</div>
								</div>
							</div>
						</li>
						<li class="col-xs-4 col-lg-2">
							<div class="img-wrap img-adapt" href="#">
								<a class="z-cell" href="">
									<%= image_tag("/assets/common/images/img-analy2.png",
									:class=>"img")%>
								</a>
								<div class="img-title">
									<span class="pull-right ml10 mr05">
										<a class="text-white aliconfont icon-edit mr5" href=""></a>
										<a class="text-white glyphicon glyphicon glyphicon-trash" href=""></a>
									</span>
									<div class="text-ellipsis">张三分析报告</div>
								</div>
							</div>
						</li>
						<li class="col-xs-4 col-lg-2">
							<div class="img-wrap img-adapt" href="#">
								<a class="z-cell" href="">
									<%= image_tag("/assets/common/images/img-analy2.png",
									:class=>"img")%>
								</a>
								<div class="img-title">
									<span class="pull-right ml10 mr05">
										<a class="text-white aliconfont icon-edit mr5" href=""></a>
										<a class="text-white glyphicon glyphicon glyphicon-trash" href=""></a>
									</span>
									<div class="text-ellipsis">张三分析报告</div>
								</div>
							</div>
						</li>
						<li class="col-xs-4 col-lg-2">
							<div class="img-wrap img-adapt" href="#">
								<a class="z-cell" href="">
									<%= image_tag("/assets/common/images/img-analy2.png",
									:class=>"img")%>
								</a>
								<div class="img-title">
									<span class="pull-right ml10 mr05">
										<a class="text-white aliconfont icon-edit mr5" href=""></a>
										<a class="text-white glyphicon glyphicon glyphicon-trash" href=""></a>
									</span>
									<div class="text-ellipsis">张三分析报告</div>
								</div>
							</div>
						</li>
						<li class="col-xs-4 col-lg-2">
							<div class="img-wrap img-adapt" href="#">
								<a class="z-cell" href="">
									<%= image_tag("/assets/common/images/img-analy2.png",
									:class=>"img")%>
								</a>
								<div class="img-title">
									<span class="pull-right ml10 mr05">
										<a class="text-white aliconfont icon-edit mr5" href=""></a>
										<a class="text-white glyphicon glyphicon glyphicon-trash" href=""></a>
									</span>
									<div class="text-ellipsis">张三分析报告分析报告</div>
								</div>
							</div>
						</li>
						<li class="col-xs-4 col-lg-2">
							<div class="img-wrap img-adapt" href="#">
								<a class="z-cell" href="">
									<%= image_tag("/assets/common/images/img-analy2.png",
									:class=>"img")%>
								</a>
								<div class="img-title">
									<span class="pull-right ml10 mr05">
										<a class="text-white aliconfont icon-edit mr5" href=""></a>
										<a class="text-white glyphicon glyphicon glyphicon-trash" href=""></a>
									</span>
									<div class="text-ellipsis">张三分析报告分析报告</div>
								</div>
							</div>
						</li>
						<li class="col-xs-4 col-lg-2">
							<div class="img-wrap img-adapt" href="#">
								<a class="z-cell" href="">
									<%= image_tag("/assets/common/images/img-analy2.png",
									:class=>"img")%>
								</a>
								<div class="img-title">
									<span class="pull-right ml10 mr05">
										<a class="text-white aliconfont icon-edit mr5" href=""></a>
										<a class="text-white glyphicon glyphicon glyphicon-trash" href=""></a>
									</span>
									<div class="text-ellipsis">张三分析报告分析报告</div>
								</div>
							</div>
						</li>
						<li class="col-xs-4 col-lg-2">
							<div class="img-wrap img-adapt" href="#">
								<a class="z-cell" href="">
									<%= image_tag("/assets/common/images/img-analy2.png",
									:class=>"img")%>
								</a>
								<div class="img-title">
									<span class="pull-right ml10 mr05">
										<a class="text-white aliconfont icon-edit mr5" href=""></a>
										<a class="text-white glyphicon glyphicon glyphicon-trash" href=""></a>
									</span>
									<div class="text-ellipsis">张三分析报告分析报告</div>
								</div>
							</div>
						</li>
						<li class="col-xs-4 col-lg-2">
							<div class="img-wrap img-adapt" href="#">
								<a class="z-cell" href="">
									<%= image_tag("/assets/common/images/img-analy2.png",
									:class=>"img")%>
								</a>
								<div class="img-title">
									<span class="pull-right ml10 mr05">
										<a class="text-white aliconfont icon-edit mr5" href=""></a>
										<a class="text-white glyphicon glyphicon glyphicon-trash" href=""></a>
									</span>
									<div class="text-ellipsis">张三分析报告分析报告</div>
								</div>
							</div>
						</li>
						<li class="col-xs-4 col-lg-2">
							<div class="img-wrap img-adapt" href="#">
								<a class="z-cell" href="">
									<%= image_tag("/assets/common/images/img-analy2.png",
									:class=>"img")%>
								</a>
								<div class="img-title">
									<span class="pull-right ml10 mr05">
										<a class="text-white aliconfont icon-edit mr5" href=""></a>
										<a class="text-white glyphicon glyphicon glyphicon-trash" href=""></a>
									</span>
									<div class="text-ellipsis">张三分析报告分析报告</div>
								</div>
							</div>
						</li>
						<li class="col-xs-4 col-lg-2">
							<div class="img-wrap img-adapt" href="#">
								<a class="z-cell" href="">
									<%= image_tag("/assets/common/images/img-analy2.png",
									:class=>"img")%>
								</a>
								<div class="img-title">
									<span class="pull-right ml10 mr05">
										<a class="text-white aliconfont icon-edit mr5" href=""></a>
										<a class="text-white glyphicon glyphicon glyphicon-trash" href=""></a>
									</span>
									<div class="text-ellipsis">张三分析报告分析报告</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<ul class="pagination">
					<li>
						<a href="#">
							<span>&laquo;</span>
						</a>
					</li>
					<li class="active">
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#">
							<span>&raquo;</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>