<div class="bread-nav-wrap">
		<ul class="bread-nav clearfix">
			<li class="bread-nav-item home">
				<a class="link-item" href=""><span class="glyphicon glyphicon-home"></span></a>
			</li>
			<li class="bread-nav-item">
				<a class="link-item" href="<%= tools_home_path %>">分析工具 </a>
			</li>
			<li class="bread-nav-item">
				<span class="link-item">人际交往报告</span>
			</li>
		</ul>
	</div>
	<!-- 路径导航 end -->
	<%= render 'leftside', tools: @tools %>
	<!-- left-side end -->
	<div class="container-18">
		<div class="panel panel-default clearfix">
			<%= render 'new_analysis_part', tools: @tools %>
			<hr>
			<div class="inner-panel-heading">
				<div class="panel-title">
					<a class="more text-primary" href="">更多</a>
				人际交往报告</div>
			</div>	
			<div class="inner-panel-body">
				<div class="img-column">
					<ul class="clearfix list-unstyled block-list">
						<li class="col-xs-4 col-lg-2">
							<div class="img-wrap img-adapt" href="#">
								<a class="z-cell" href="<%= tools_rlat_details_path %>">
									<%= image_tag("/assets/common/images/img-analy2.png",
									:class=>"img")%>
								</a>
								<div class="img-title">
									<span class="pull-right ml10 mr05">
										<a class="text-white aliconfont icon-edit mr5" href=""></a>
										<a class="text-white glyphicon glyphicon glyphicon-trash" href=""></a>
									</span>
									<div class="text-ellipsis">张三分析报告分析报告分析报告</div>
								</div>
							</div>
						</li>
						<li class="col-xs-4 col-lg-2">
							<div class="img-wrap img-adapt" href="#">
								<a class="z-cell" href="">
									<%= image_tag("/assets/common/images/img-analy2.png",
									:class=>"img")%>
								</a>
								<div class="img-title">
									<span class="pull-right ml10 mr05">
										<a class="text-white aliconfont icon-edit mr5" href=""></a>
										<a class="text-white glyphicon glyphicon glyphicon-trash" href=""></a>
									</span>
									<div class="text-ellipsis">张三分析报告</div>
								</div>
							</div>
						</li>
						<li class="col-xs-4 col-lg-2">
							<div class="img-wrap img-adapt" href="#">
								<a class="z-cell" href="">
									<%= image_tag("/assets/common/images/img-analy2.png",
									:class=>"img")%>
								</a>
								<div class="img-title">
									<span class="pull-right ml10 mr05">
										<a class="text-white aliconfont icon-edit mr5" href=""></a>
										<a class="text-white glyphicon glyphicon glyphicon-trash" href=""></a>
									</span>
									<div class="text-ellipsis">张三分析报告</div>
								</div>
							</div>
						</li>
						<li class="col-xs-4 col-lg-2">
							<div class="img-wrap img-adapt" href="#">
								<a class="z-cell" href="">
									<%= image_tag("/assets/common/images/img-analy2.png",
									:class=>"img")%>
								</a>
								<div class="img-title">
									<span class="pull-right ml10 mr05">
										<a class="text-white aliconfont icon-edit mr5" href=""></a>
										<a class="text-white glyphicon glyphicon glyphicon-trash" href=""></a>
									</span>
									<div class="text-ellipsis">张三分析报告</div>
								</div>
							</div>
						</li>
						<li class="col-xs-4 col-lg-2">
							<div class="img-wrap img-adapt" href="#">
								<a class="z-cell" href="">
									<%= image_tag("/assets/common/images/img-analy2.png",
									:class=>"img")%>
								</a>
								<div class="img-title">
									<span class="pull-right ml10 mr05">
										<a class="text-white aliconfont icon-edit mr5" href=""></a>
										<a class="text-white glyphicon glyphicon glyphicon-trash" href=""></a>
									</span>
									<div class="text-ellipsis">张三分析报告</div>
								</div>
							</div>
						</li>
						<li class="col-xs-4 col-lg-2">
							<div class="img-wrap img-adapt" href="#">
								<a class="z-cell" href="">
									<%= image_tag("/assets/common/images/img-analy2.png",
									:class=>"img")%>
								</a>
								<div class="img-title">
									<span class="pull-right ml10 mr05">
										<a class="text-white aliconfont icon-edit mr5" href=""></a>
										<a class="text-white glyphicon glyphicon glyphicon-trash" href=""></a>
									</span>
									<div class="text-ellipsis">张三分析报告分析报告</div>
								</div>
							</div>
						</li>
						<li class="col-xs-4 col-lg-2">
							<div class="img-wrap img-adapt" href="#">
								<a class="z-cell" href="">
									<%= image_tag("/assets/common/images/img-analy2.png",
									:class=>"img")%>
								</a>
								<div class="img-title">
									<span class="pull-right ml10 mr05">
										<a class="text-white aliconfont icon-edit mr5" href=""></a>
										<a class="text-white glyphicon glyphicon glyphicon-trash" href=""></a>
									</span>
									<div class="text-ellipsis">张三分析报告分析报告</div>
								</div>
							</div>
						</li>
						<li class="col-xs-4 col-lg-2">
							<div class="img-wrap img-adapt" href="#">
								<a class="z-cell" href="">
									<%= image_tag("/assets/common/images/img-analy2.png",
									:class=>"img")%>
								</a>
								<div class="img-title">
									<span class="pull-right ml10 mr05">
										<a class="text-white aliconfont icon-edit mr5" href=""></a>
										<a class="text-white glyphicon glyphicon glyphicon-trash" href=""></a>
									</span>
									<div class="text-ellipsis">张三分析报告分析报告</div>
								</div>
							</div>
						</li>
						<li class="col-xs-4 col-lg-2">
							<div class="img-wrap img-adapt" href="#">
								<a class="z-cell" href="">
									<%= image_tag("/assets/common/images/img-analy2.png",
									:class=>"img")%>
								</a>
								<div class="img-title">
									<span class="pull-right ml10 mr05">
										<a class="text-white aliconfont icon-edit mr5" href=""></a>
										<a class="text-white glyphicon glyphicon glyphicon-trash" href=""></a>
									</span>
									<div class="text-ellipsis">张三分析报告分析报告</div>
								</div>
							</div>
						</li>
						<li class="col-xs-4 col-lg-2">
							<div class="img-wrap img-adapt" href="#">
								<a class="z-cell" href="">
									<%= image_tag("/assets/common/images/img-analy2.png",
									:class=>"img")%>
								</a>
								<div class="img-title">
									<span class="pull-right ml10 mr05">
										<a class="text-white aliconfont icon-edit mr5" href=""></a>
										<a class="text-white glyphicon glyphicon glyphicon-trash" href=""></a>
									</span>
									<div class="text-ellipsis">张三分析报告分析报告</div>
								</div>
							</div>
						</li>
						<li class="col-xs-4 col-lg-2">
							<div class="img-wrap img-adapt" href="#">
								<a class="z-cell" href="">
									<%= image_tag("/assets/common/images/img-analy2.png",
									:class=>"img")%>
								</a>
								<div class="img-title">
									<span class="pull-right ml10 mr05">
										<a class="text-white aliconfont icon-edit mr5" href=""></a>
										<a class="text-white glyphicon glyphicon glyphicon-trash" href=""></a>
									</span>
									<div class="text-ellipsis">张三分析报告分析报告</div>
								</div>
							</div>
						</li>
						<li class="col-xs-4 col-lg-2">
							<div class="img-wrap img-adapt" href="#">
								<a class="z-cell" href="">
									<%= image_tag("/assets/common/images/img-analy2.png",
									:class=>"img")%>
								</a>
								<div class="img-title">
									<span class="pull-right ml10 mr05">
										<a class="text-white aliconfont icon-edit mr5" href=""></a>
										<a class="text-white glyphicon glyphicon glyphicon-trash" href=""></a>
									</span>
									<div class="text-ellipsis">张三分析报告分析报告</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<ul class="pagination">
					<li>
						<a href="#">
							<span>&laquo;</span>
						</a>
					</li>
					<li class="active">
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#">
							<span>&raquo;</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>