<div class="analysis-wrap">
<div class="bread-nav-wrap">
		<ul class="bread-nav clearfix">
			<li class="bread-nav-item home">
				<a class="link-item" href="/position_decisions/index"><span class="glyphicon glyphicon-home"></span></a>
			</li>
			<li class="bread-nav-item">
				<a class="link-item" href="">分析工具</a>
			</li>
			<li class="bread-nav-item">
				<span class="link-item">人际交往分析</span>
			</li>
		</ul>
	</div>
	<!-- 路径导航 end -->
	<div class="left-side left-side-inverse column-18">
		<div class="left-side-heading">
			<div class="heading-title">
				<a class="pull-right small" href="">回首页</a>
				嫌疑犯
			</div>
			<div class="input-group">
				<input type="text" class="form-control" value="搜索">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button">
						搜
					</button>
				</span>
			</div>
		</div>
		<ul class="analysis-img-list">
			<li class="list-item active">
				<a href="#" class="img-wrap">
					<%= image_tag("/assets/common/images/img-analy2.png")%>
					<div class="img-title">Midred Ortega</div>
				</a>
			</li>
			<li class="list-item">
				<a href="#" class="img-wrap">
					<%= image_tag("/assets/common/images/img-analy2.png")%>
					<div class="img-title">Midred Ortega</div>
				</a>
			</li>
			<li class="list-item">
				<a href="#" class="img-wrap">
					<%= image_tag("/assets/common/images/img-analy2.png")%>
					<div class="img-title">Midred Ortega</div>
				</a>
			</li>
			<li class="list-item">
				<a href="#" class="img-wrap">
					<%= image_tag("/assets/common/images/img-analy2.png")%>
					<div class="img-title">Midred Ortega</div>
				</a>
			</li>
			<li class="list-item">
				<a href="#" class="img-wrap">
					<%= image_tag("/assets/common/images/img-analy2.png")%>
					<div class="img-title">Midred Ortega</div>
				</a>
			</li>
		</ul>
	</div>
	<!-- left-side end -->

	<div class="container-18">
		<div class="row">
			<div class="col-lg-7 col-md-6">
				<div class="inner-panel">
					<div class="paner-heading">
						<div class="panel-title">某某主题下的人际分析报告</div>
						<div class="small text-gray mt10">
							2012-12-12&nbsp;<span class="text-capitalize">phillip rice</span>
						</div>
					</div>
					<div class="mt10" width="100%">
						<%= image_tag("/assets/common/images/img-analy3.png", :class=>"img-responsive") %>
					</div>
					<div class="frame-table block-mt">
						<table class="table table-hover thead-dark-bg">
							<tr class="thead-dark-bg-searchrow">
								<th colspan="4">
									<div class="input-group input-group-sm w100p mt5">
										<input class="form-control" type="text">
										<span class="input-group-btn">
											<button class="btn btn-primary">搜</button>
										</span>
									</div>
								</th>
							</tr>
							<tr>
								<th>序号</th>
								<th>项目标识</th>
								<th>项目类型</th>
								<th>上下文</th>
							</tr>
							<tr>
								<td>1</td>
								<td>12434355</td>
								<td>手机</td>
								<td>0-(324)399-34325</td>
							</tr>
							<tr>
								<td>1</td>
								<td>12434355</td>
								<td>手机</td>
								<td>0-(324)399-34325</td>
							</tr>
							<tr>
								<td>1</td>
								<td>12434355</td>
								<td>手机</td>
								<td>0-(324)399-34325</td>
							</tr>
							<tr>
								<td>1</td>
								<td>12434355</td>
								<td>手机</td>
								<td>0-(324)399-34325</td>
							</tr>
							<tr>
								<td>1</td>
								<td>12434355</td>
								<td>手机</td>
								<td>0-(324)399-34325</td>
							</tr>
							<!-- <tr>
								<td>1</td>
								<td>12434355</td>
								<td>手机</td>
								<td>0-(324)399-34325</td>
							</tr> -->
							<tr>
								<td colspan="4">
									<ul class="pagination">
										<li>
											<a href="#">
												<span>«</span>
											</a>
										</li>
										<li class="active">
											<a href="#">1</a>
										</li>
										<li>
											<a href="#">2</a>
										</li>
										<li>
											<a href="#">3</a>
										</li>
										<li>
											<a href="#">4</a>
										</li>
										<li>
											<a href="#">5</a>
										</li>
										<li>
											<a href="#">
												<span>»</span>
											</a>
										</li>
									</ul>
								</td>
							</tr>
						</table>
					</div>

				</div>
			</div>
			<div class="col-lg-5 col-md-6">
				<div class="panel">
					<div class="inner-panel-body">
						<div class="info-show">
							<div class="info-left">
								<%= image_tag("/assets/common/images/people1.png")%>
							</div>
							<div class="info-body">
								<ul class="list-unstyled">
									<li class="float-ul-item">姓名：张三</li>
									<li class="float-ul-item">性别：男</li>
									<li class="float-ul-item">年龄：34</li>
									<li class="float-ul-item">户籍：山东</li>
									<li class="float-ul-item">电话：1328888888</li>
									<li class="float-ul-item">邮箱：25345346@126.com</li>
									<li class="float-ul-item">现住址：山东市东华北里20号楼1单元701室</li>
									<li class="float-ul-item">民族：回族</li>
									<li class="float-ul-item">学历：高中</li>
									<li class="float-ul-item">毕业学校：第三中学</li>
									<li class="float-ul-item">身份证：325234352342313141</li>
									<li class="float-ul-item">QQ号码：3443643</li>
								</ul>
							</div>
						</div>
						<div class="inner-panel-heading">
							<div class="panel-title">通话记录（6）</div>
						</div>
						<div class="clearfix img-column">
							<div class="col-md-4 col-xs-3">
								<span class="label label-light-nav label-fluid">
									2017-12-12&nbsp;12:12:12
								</span>
							</div>
							<div class="col-md-4 col-xs-3">
								<span class="label label-nav label-fluid text-ellipsis" title="lucy han lucy han lucy han">
									lucy han lucy han lucy han
								</span>
							</div>
							<div class="col-md-4 col-xs-6">
								<div class="progress progress-sm progress-inline">
									<div class="progress-bar" style="width: 50%;"></div>
								</div>
							</div>
						</div>
						<div class="clearfix img-column mt5">
							<div class="col-md-4 col-xs-3">
								<span class="label label-light-nav label-fluid">
									2017-12-12&nbsp;12:12:12
								</span>
							</div>
							<div class="col-md-4 col-xs-3">
								<span class="label label-nav label-fluid text-ellipsis" title="lucy han lucy han lucy han">
									lucy han lucy han lucy han
								</span>
							</div>
							<div class="col-md-4 col-xs-6">
								<div class="progress progress-sm progress-inline">
									<div class="progress-bar progress-bar-warning" style="width: 50%;"></div>
								</div>
							</div>
						</div>
						<div class="clearfix img-column mt5">
							<div class="col-md-4 col-xs-3">
								<span class="label label-light-nav label-fluid">
									2017-12-12&nbsp;12:12:12
								</span>
							</div>
							<div class="col-md-4 col-xs-3">
								<span class="label label-nav label-fluid text-ellipsis" title="lucy han lucy han lucy han">
									lucy han lucy han lucy han
								</span>
							</div>
							<div class="col-md-4 col-xs-6">
								<div class="progress progress-sm progress-inline">
									<div class="progress-bar progress-bar-success" style="width: 50%;"></div>
								</div>
							</div>
						</div>
						<div class="clearfix img-column mt5">
							<div class="col-md-4 col-xs-3">
								<span class="label label-light-nav label-fluid">
									2017-12-12&nbsp;12:12:12
								</span>
							</div>
							<div class="col-md-4 col-xs-3">
								<span class="label label-nav label-fluid text-ellipsis" title="lucy han lucy han lucy han">
									lucy han lucy han lucy han
								</span>
							</div>
							<div class="col-md-4 col-xs-6">
								<div class="progress progress-sm progress-inline">
									<div class="progress-bar progress-bar-danger" style="width: 50%;"></div>
								</div>
							</div>
						</div>
						<div class="clearfix img-column mt5">
							<div class="col-md-4 col-xs-3">
								<span class="label label-light-nav label-fluid">
									2017-12-12&nbsp;12:12:12
								</span>
							</div>
							<div class="col-md-4 col-xs-3">
								<span class="label label-nav label-fluid text-ellipsis" title="lucy han lucy han lucy han">
									lucy han lucy han lucy han
								</span>
							</div>
							<div class="col-md-4 col-xs-6">
								<div class="progress progress-sm progress-inline">
									<div class="progress-bar progress-bar-info" style="width: 50%;"></div>
								</div>
							</div>
						</div>
						<div class="inner-panel-heading block-mt">
							<div class="panel-title">
								<span class="more">
									<span class="glyphicon glyphicon-calendar text-primary"></span>
									截止时间:2017-12-12&nbsp;12:12:12
								</span>
								资金来往
							</div>
						</div>
						<hr>
						<div class="capital-exchange">
							<div class="row">
								<div class="col-xs-6">
									<ul class="alert-list">
										<li class="alert alert-danger">
											<div class="go-come-wrap">
												-1000$&nbsp;信用卡
												<div class='small'>2017-12-12&nbsp;12:12:12</div>
											</div>
										</li>
										<li class="alert alert-danger invisibility">
											<div class="go-come-wrap">
											</div>
										</li>
										<li class="alert alert-danger">
											<div class="go-come-wrap">
												-1000$&nbsp;信用卡
												<div class='small'>2017-12-12&nbsp;12:12:12</div>
											</div>
										</li>
										<li class="alert alert-danger invisibility">
											<div class="go-come-wrap">
											</div>
										</li>
										<li class="alert alert-danger invisibility">
											<div class="go-come-wrap">
											</div>
										</li>
										<li class="alert alert-danger">
											<div class="go-come-wrap">
												-1000$&nbsp;信用卡
												<div class='small'>2017-12-12&nbsp;12:12:12</div>
											</div>
										</li>
										<li class="alert alert-danger">
											<div class="go-come-wrap">
												-1000$&nbsp;信用卡
												<div class='small'>2017-12-12&nbsp;12:12:12</div>
											</div>
										</li>
										<li class="alert alert-danger">
											<div class="go-come-wrap">
												-1000$&nbsp;信用卡
												<div class='small'>2017-12-12&nbsp;12:12:12</div>
											</div>
										</li>
									</ul>
								</div>
								<div class="col-xs-6">
									<ul class="alert-list">
										<li class="alert alert-success invisibility">
											<div class="go-come-wrap">
											</div>
										</li>
										<li class="alert alert-success">
											<div class="go-come-wrap">
												+1000$&nbsp;信用卡
												<div class='small'>2017-12-12&nbsp;12:12:12</div>
											</div>
										</li>
										<li class="alert alert-success invisibility">
											<div class="go-come-wrap">
											</div>
										</li>
										<li class="alert alert-success">
											<div class="go-come-wrap">
												+1000$&nbsp;信用卡
												<div class='small'>2017-12-12&nbsp;12:12:12</div>
											</div>
										</li>
										<li class="alert alert-success">
											<div class="go-come-wrap">
												+1000$&nbsp;信用卡
												<div class='small'>2017-12-12&nbsp;12:12:12</div>
											</div>
										</li>
									</ul>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
