<div id="tactics-index-app" class="bg-backing-darken">
  <div class="bread-nav-wrap">
    <ul class="bread-nav clearfix">
      <li class="bread-nav-item home">
        <a class="link-item" class="link-item" href="/position_decisions/index">
          <span class="glyphicon glyphicon-home"></span>
        </a>
      </li>
      <li class="bread-nav-item">
        <span class="link-item">战法管理</span>
      </li>
    </ul>
  </div>
  <!-- 路径导航 end -->
  <div class="left-side left-side-inverse column-18" v-bind:style="leftSidebarPosition">
    <div class="left-side-heading">
      <div class="heading-title">
        <a class="pull-right small" href="<%= root_path %>">回首页</a>
        分类
      </div>
      <div class="input-group">
        <input type="text" class="form-control" value="搜索">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">
            搜
          </button>
        </span>
      </div>
    </div>
    <div class="left-side-btn-menu">
      <%= link_to "全部战法",{:controller=>:tactics,:action=>:index},{:class=>"btn btn-block "+(params[:category].blank? && params[:classic].blank? ? "btn-primary": "btn-normal")} %>
      <%= link_to "经典战法 ",{:controller=>:tactics,:action=>:index,:classic=>1},{:class=>"btn btn-block "+(params[:classic].present? ? "btn-primary": "btn-normal")} %>
      <% TacticCategory.all.each do |c| %>
          <%= link_to c.name ,{:controller=>:tactics,:action=>:index,:category=>c.id},{:class=>"btn btn-block "+(params[:category].to_i == c.id ? "btn-primary": "btn-normal")} %>
      <% end %>
    </div>
    <div id="wrap-btn-new-tactic">
      <%= link_to "新建战法", new_tactic_path, {:type => "button", :id => "btn-new-tactic", :class => "btn btn-warning btn-block"} %>
    </div>
  </div>
  <!-- left-side end -->
  <div class="container-18 carousel-wrap">
    <div class="clearfix">
      <% @tactics.each do |tactic| %>
      <div class="col-md-6 col-xs-12">
        <div class="thumbnail">
          <div class="carousel-tag"><%= TacticCategory.find(tactic.category).name %></div>
          <!-- 插件开始 -->
          <div class="swiper-container swiper-container-tactics-index">
            <div class="swiper-wrapper" style="width: 100%;height: auto;">
              <!-- <div class="swiper-slide">
                <%= image_tag("carousel1.png")%>
              </div> -->
              <div class="swiper-slide">
                <%= image_tag(tactic.thumbnail_url.blank? ? "carousel2.png" : tactic.thumbnail_url, class: "tactic-thumbnail")%>
              </div>
              <!-- <div class="swiper-slide">
                <%= image_tag("carousel3.png")%>
              </div>
              <div class="swiper-slide">
                <%= image_tag("carousel4.png")%>
              </div>
              <div class="swiper-slide">
                <%= image_tag("carousel3.png")%>
              </div>
              <div class="swiper-slide">
                <%= image_tag("carousel2.png")%>
              </div> -->
            </div>
            <div class="swiper-pagination"></div>
          </div>

          <!--插件结束  -->
          <div class="caption">
            <div class="title-conponent">
              <strong class="f16"><%= tactic.name %></strong>
              <span class="label <%= tactic.has_finish? ? 'label-success' : 'label-danger' %> ml10">
                <%= "" || tactic.status %>
              </span>
            </div>
            <div>
                <i class="fa fa-calendar text-primary" style="width:15px"aria-hidden="true"></i>
                <span class="text-gray">
                  开始时间：
                  <%= tactic.start_time %>
                  -- 结束时间：
                  <%= tactic.end_time %>
                </span>
            </div>
            <div>
              <div>
                <i class="fa fa-user-plus text-primary" style="width:15px"aria-hidden="true"></i>
                <span class="text-gray">执行队伍：<%= tactic.executive_team %></span>
              </div>
            </div>
            <div style="height:30px;overflow:hidden;">
              <i class="fa fa-file-text text-primary" style="width:15px" aria-hidden="true"></i>
              <span class="text-gray">描述：<%= tactic.description %></span>
            </div>
            <div class="block-mt">
              <span class="pull-right mt10">
                待办任务
                <span class="text-warning"><%= tactic.unfinished_task_count %></span>
                <span class="line-space">|</span>
                已办任务
                <span class="text-primary"><%= tactic.finished_task_count %></span>
              </span>
              <%= link_to "战法设计", tactic, {:class=>"btn btn-primary btn-long" ,:role=>"button"} %>
              <%= link_to "查看进度", progress_tactic_path(tactic), {:class=>"btn btn-default ml10", :role=>"button"} %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div style="text-align:center">
      <%= paginate @tactics %>
    </div>
  </div>
</div>
