<div class="bg-backing-darken">
<div class="bread-nav-wrap">
    <ul class="bread-nav clearfix">
      <li class="bread-nav-item home">
        <a class="link-item" class="link-item" href="/position_decisions/index"><span class="glyphicon glyphicon-home"></span></a>
      </li>
      <li class="bread-nav-item">
        <span class="link-item">战法管理</span>
      </li>
    </ul>
  </div>
  <!-- 路径导航 end -->
  <div class="left-side left-side-inverse column-18">
    <div class="left-side-heading">
      <div class="heading-title">
        <a class="pull-right small" href="">回首页</a>
        分类
      </div>
      <div class="input-group">
        <input type="text" class="form-control" value="搜索">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">
          搜
          </button>
        </span>
      </div>
    </div>
    <div class="left-side-btn-menu">
      <button class="btn btn-primary btn-block" type="button">全部战法</button>
      <button class="btn btn-normal btn-block" type="button">全部战法</button>
      <button class="btn btn-normal btn-block" type="button">经典战法</button>
      <button class="btn btn-normal btn-block" type="button">缉毒</button>
      <button class="btn btn-normal btn-block" type="button">缉私</button>
      <button class="btn btn-normal btn-block" type="button">贩卖</button>
      <button class="btn btn-normal btn-block" type="button">通缉</button>
    </div>
  </div>
  <!-- left-side end -->
  <div class="container-18 carousel-wrap">
    <div class="clearfix">
      <% @tactics.each do |tactic| %>
        <div class="col-md-6 col-xs-12">
          <div class="thumbnail">
            <div class="carousel-tag"><%= tactic.category %></div>
            <!-- 插件开始 -->
                <div class="swiper-container">
                  <div class="swiper-wrapper" style="width: 100%;height: auto;">
                      <div class="swiper-slide">
                        <%= image_tag("carousel1.png")%>
                      </div>
                      <div class="swiper-slide">
                        <%= image_tag("carousel2.png")%>
                      </div>
                      <div class="swiper-slide">
                        <%= image_tag("carousel3.png")%>
                      </div>
                      <div class="swiper-slide">
                        <%= image_tag("carousel4.png")%>
                      </div>
                      <div class="swiper-slide">
                        <%= image_tag("carousel3.png")%>
                      </div>
                      <div class="swiper-slide">
                        <%= image_tag("carousel2.png")%>
                      </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>

                <!--插件结束  -->
                <div class="caption">
                  <div class="title-conponent">
                    <span class="pull-right text-gray">
                      <span class="glyphicon glyphicon-calendar text-primary"></span>
                      &nbsp;开始<%= tactic.start_time.strftime('%Y/%m/%d %H:%M:%S') %>--结束<%= tactic.end_time.strftime('%Y/%m/%d %H:%M:%S') %>
                    </span>
                    <strong class="f16"><%= tactic.name %></strong>
                    <span class="label <%= tactic.has_finish? ? 'label-success' : 'label-danger' %> ml10">
                      <%= tactic.status %>
                    </span>
                  </div>
                  <div><%= tactic.description %></div>
                  <div class="row">
                    <div class="col-xs-4 mt10">
                      <span class="aliconfont icon-people f16 text-gray"></span>
                        执行队伍：<%= tactic.executive_team %>
                    </div>
                  </div>
                  <div class="block-mt">
                    <span class="pull-right mt10">
                      待办任务
                      <span class="text-warning"><%= tactic.unfinished_task_count %></span>
                      <span class="line-space">|</span>
                      已办任务
                      <span class="text-primary"><%= tactic.finished_task_count %></span>
                    </span>
                    <%= link_to "编辑战法", tactic, {:class=>"btn btn-primary btn-long" ,:role=>"button"} %>
                    <%= link_to "查看进度", tactic, {:class=>"btn btn-default ml10", :role=>"button"} %>
                  </div>
                </div>
            </div>
        </div>
      <% end %>
    </div>

  </div>
  <script>
  $(document).on("turbolinks:load",function(){
    var mySwiper = new Swiper('.swiper-container',{
      effect : 'coverflow',
      slidesPerView: 3,
      centeredSlides: true,
      pagination : '.swiper-pagination',
      paginationClickable :true,
      coverflow: {
        rotate: 10,//两边的图片跟y轴的角度，角度越大，视角所见就越小,默认为50
        stretch: 40,//每个slide之间的拉伸值，越大slide靠得越紧。 默认0。
        depth: 50,//slide的位置深度。值越大z轴距离越远，看起来越小。 默认100。
        modifier: 2,
        slideShadows : false//开启slide阴影。默认 true。

      }
    });
  });
  </script>
  </div>
