<% content_for :javascripts do %>
  <%= javascript_include_tag "swiper", "data-turbolinks-track" => "reload" %>
<% end %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "swiper", "data-turbolinks-track" => "reload"  %>
<% end %>
<div id="tactics-index-app" class="bg-backing-darken">
  <div class="bread-nav-wrap">
    <ul class="bread-nav clearfix">
      <li class="bread-nav-item home">
        <a class="link-item" class="link-item" href="/position_decisions/index">
          <span class="glyphicon glyphicon-home"></span>
        </a>
      </li>
      <li class="bread-nav-item">
        <span class="link-item">战法管理</span>
      </li>
    </ul>
  </div>
  <!-- 路径导航 end -->
  <div class="left-side left-side-inverse column-18" v-bind:style="leftSidebarPosition">
    <div class="left-side-heading">
      <div class="heading-title">
        <a class="pull-right small" href="">回首页</a>
        分类
      </div>
      <div class="input-group">
        <input type="text" class="form-control" value="搜索">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">
            搜
          </button>
        </span>
      </div>
    </div>
    <div class="left-side-btn-menu">
      <%= link_to "全部战法",{:controller=>:tactics,:action=>:index},{:class=>"btn btn-block "+(params[:category].blank? && params[:classic].blank? ? "btn-primary": "btn-normal")} %>
      <%= link_to "经典战法 ",{:controller=>:tactics,:action=>:index,:classic=>1},{:class=>"btn btn-block "+(params[:classic].present? ? "btn-primary": "btn-normal")} %>
      <% TacticCategory.all.each do |c| %>
          <%= link_to c.name ,{:controller=>:tactics,:action=>:index,:category=>c.id},{:class=>"btn btn-block "+(params[:category].to_i == c.id ? "btn-primary": "btn-normal")} %>
      <% end %>
    </div>
    <div id="wrap-btn-new-tactic">
      <button type="button" id="btn-new-tactic" class="btn btn-warning btn-block" @click="showModal=true">新建战法</button>
    </div>
  </div>
  <!-- left-side end -->
  <div class="container-18 carousel-wrap">
    <div class="clearfix">
      <% @tactics.each do |tactic| %>
      <div class="col-md-6 col-xs-12">
        <div class="thumbnail">
          <div class="carousel-tag"><%= TacticCategory.find(tactic.category).name %></div>
          <!-- 插件开始 -->
          <div class="swiper-container">
            <div class="swiper-wrapper" style="width: 100%;height: auto;">
              <div class="swiper-slide">
                <%= image_tag("carousel1.png")%>
              </div>
              <div class="swiper-slide">
                <%= image_tag("carousel2.png")%>
              </div>
              <div class="swiper-slide">
                <%= image_tag("carousel3.png")%>
              </div>
              <div class="swiper-slide">
                <%= image_tag("carousel4.png")%>
              </div>
              <div class="swiper-slide">
                <%= image_tag("carousel3.png")%>
              </div>
              <div class="swiper-slide">
                <%= image_tag("carousel2.png")%>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>

          <!--插件结束  -->
          <div class="caption">
            <div class="title-conponent">
              <strong class="f16"><%= tactic.name %></strong>
              <span class="label <%= tactic.has_finish? ? 'label-success' : 'label-danger' %> ml10">
                <%= tactic.status %>
              </span>
            </div>
            <div>
                <i class="fa fa-calendar text-primary" style="width:15px"aria-hidden="true"></i>
                <span class="text-gray">
                  开始时间：
                  <%= tactic.start_time %>
                  -- 结束时间：
                  <%= tactic.end_time %>
                </span>
            </div>
            <div>
              <div>
                <i class="fa fa-user-plus text-primary" style="width:15px"aria-hidden="true"></i>
                <span class="text-gray">执行队伍：<%= tactic.executive_team %></span>
              </div>
            </div>
            <div style="height:30px;overflow:hidden;">
              <i class="fa fa-file-text text-primary" style="width:15px" aria-hidden="true"></i>
              <span class="text-gray">描述：<%= tactic.description %></span>
            </div>
            <div class="block-mt">
              <span class="pull-right mt10">
                待办任务
                <span class="text-warning"><%= tactic.unfinished_task_count %></span>
                <span class="line-space">|</span>
                已办任务
                <span class="text-primary"><%= tactic.finished_task_count %></span>
              </span>
              <%= link_to "编辑战法", tactic, {:class=>"btn btn-primary btn-long" ,:role=>"button"} %>
              <%= link_to "查看进度", tactic_progress_path(tactic), {:class=>"btn btn-default ml10", :role=>"button"} %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div style="text-align:center">
      <%= paginate @tactics %>
    </div>
  </div>
  <div id="new-tactic-modal">
    <modal v-if="showModal" @close="showModal = false" v-on:show='loadCases'>
      <div slot="header">
        <h3>新建战法</h3>
      </div>
      <div slot="body" class="panel panel-default">
        <div class="panel-body">
          <form id="new-tactic-form" class="form-horizontal" role="form" action="/tactics" method="POST">
            <%= tag(:input, :type => "hidden", :name =>request_forgery_protection_token.to_s, :value =>form_authenticity_token) %>
            <div class="form-group">
              <div class="col-sm-6">
                <label class="control-label">战法名称<a class="text-danger">*</a></label>
                <input type="text" class="form-control" name="tactic[name]" placeholder="请输入战法名称" required="required">
              </div>
              <div class="col-sm-6">
                <label class="control-label">战法类型<a class="text-danger">*</a></label>
                <select class="form-control" name="tactic[category]">
                  <% TacticCategory.all.each do |c| %>
                    <option value="<%= c.id %>"><%= c.name %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <label class="control-label">关联案件(可多选)</label>
                <select class="form-control" v-model="selectedCase" @change="addCase">
                  <option disabled value="">请选择</option>
                  <option v-for="c in cases" :value="c.id">{{c.name}}</option>
                </select>
                <ul class="case-list">
                  <li class="case-item" v-for="sc in selectedCases" v-if="sc">
                    <span class="case-view">
                      {{sc | caseFilter(cases)}}
                      <button type="button" class="btn btn-close" @click="removeCase(sc)">×</button>
                    </span>
                  </li>
                  <div class="clearfix"></div>
                </ul>
                <input class="hidden" type="text" name="tactic[cases]" :value="selectedCases | blankFilter">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <label class="control-label">执行队伍</label>
                <input type="text" class="form-control" name="tactic[executive_team]" placeholder="执行队伍">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <label class="control-label">开始时间</label>
                <input type="text" class="form-control date-picker" name="tactic[start_time]" placeholder="请输入开始时间">
              </div>
              <div class="col-sm-6">
                <label class="control-label">结束时间</label>
                <input type="text" class="form-control date-picker" name="tactic[end_time]" placeholder="请输入结束时间">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <label class="control-label">战法描述</label>
                <textarea class="form-control" name="tactic[description]" placeholder="请输入战法描述" rows=3></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div slot="footer">
        <div class="form-group">
          <div class="col-sm-offset-9 col-sm-3">
            <button type="submit" class="btn btn-primary" form="new-tactic-form">确定</button>
            <button type="button" class="btn btn-default" @click="showModal=false">取消</button>
          </div>
        </div>
      </div>
    </modal>
  </div>
</div>
<%= render "/vue_templates/modal" %>
