<div class="bread-nav-wrap">
		<ul class="bread-nav clearfix">
			<li class="bread-nav-item home">
				<a class="link-item" href=""><span class="glyphicon glyphicon-home"></span></a>
			</li>
			<li class="bread-nav-item even">
				<a class="link-item" href="">战法管理</a>
			</li>
			<li class="bread-nav-item">
				<span class="link-item" href="">战法详情</span>
			</li>
		</ul>
	</div>
	<!-- 路径导航 end -->
	<div class="container-0-36">
		<div class="column-36 right-side">
			<div class="inner-panel">
				<div class="panel-heading">
					<div class="panel-title">节点信息（6）</div>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" action="">
						<div class="form-group">
							<label class="col-xs-4 control-label text-right" for="">字段名称</label>
							<div class="col-xs-8">
								<input class="form-control" type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-4 control-label text-right" for="">字段名称</label>
							<div class="col-xs-8">
								<input class="form-control" type="text">
							</div>
						</div>
										
						<div class="form-group">
							<label class="col-xs-4 control-label text-right" for="">长字段名称</label>
							<div class="col-xs-8">
								<input class="form-control" type="text">
							</div>
						</div>
										
						<div class="form-group">
							<label class="col-xs-4 control-label text-right" for="">字段名称</label>
							<div class="col-xs-8">
								<input class="form-control" type="text">
							</div>
						</div>
										
						<div class="form-group">
							<label class="col-xs-4 control-label text-right" for="">字段名称</label>
							<div class="col-xs-8">
								<input class="form-control" type="text">
							</div>
						</div>
										
						<div class="form-group">
							<label class="col-xs-4 control-label text-right" for="">字段名称</label>
							<div class="col-xs-8">
								<input class="form-control" type="text">
							</div>
						</div>
					</form>
				</div>

				<div class="panel-heading">
					<div class="panel-title">代办事物（3）</div>
				</div>
				<div class="panel-body">
					<ul class="media-list">
						<li class="media media-img40">
							<div class="media-left">
								<%= image_tag("/assets/common/images/people1.png",:class => 
								"media-object img-circle")%>
							</div>
							<div class="media-body">
								<div class="title-conponent">
									<a class="f16 text-muted" href="">LinkName 环节</a>
									<div class="label label-success">已完成</div>
								</div>
								<div class="text-gray">Person Name_Lisa Guzman</div>
								<div class="mt5">
									Keytar McSweeney's Williamsburg, readymade leggings try-hard 90's street art letterpress hoodie occupy Wes Anderson Banksy. 
								</div>
								<div class="mt5">
									<span class="glyphicon glyphicon-calendar text-primary"></span>
									2012-12-12
								</div>
							</div>
						</li>
						<li class="media media-img40">
							<div class="media-left">
								<%= image_tag("/assets/common/images/people1.png",:class => 
								"media-object img-circle")%>
							</div>
							<div class="media-body">
								<div class="title-conponent">
									<a class="f16 text-muted" href="">LinkName 环节</a>
									<div class="label label-success">已完成</div>
								</div>
								<div class="text-gray">Person Name_Lisa Guzman</div>
								<div class="mt5">
									Keytar McSweeney's Williamsburg, readymade leggings try-hard 90's street art letterpress hoodie occupy Wes Anderson Banksy. 
								</div>
								<div class="mt5">
									<span class="glyphicon glyphicon-calendar text-primary"></span>
									2012-12-12
								</div>
							</div>
						</li>
						<li class="media media-img40">
							<div class="media-left">
								<%= image_tag("/assets/common/images/people1.png",:class => 
								"media-object img-circle")%>
							</div>
							<div class="media-body">
								<div class="title-conponent">
									<a class="f16 text-muted" href="">LinkName 环节</a>
									<div class="label label-success">已完成</div>
								</div>
								<div class="text-gray">Person Name_Lisa Guzman</div>
								<div class="mt5">
									Keytar McSweeney's Williamsburg, readymade leggings try-hard 90's street art letterpress hoodie occupy Wes Anderson Banksy. 
								</div>
								<div class="mt5">
									<span class="glyphicon glyphicon-calendar text-primary"></span>
									2012-12-12
								</div>
							</div>
						</li>
						<li class="media media-img40">
							<div class="media-left">
								<%= image_tag("/assets/common/images/people1.png",:class => 
								"media-object img-circle")%>
							</div>
							<div class="media-body">
								<div class="title-conponent">
									<a class="f16 text-muted" href="">LinkName 环节</a>
									<div class="label label-success">已完成</div>
								</div>
								<div class="text-gray">Person Name_Lisa Guzman</div>
								<div class="mt5">
									Keytar McSweeney's Williamsburg, readymade leggings try-hard 90's street art letterpress hoodie occupy Wes Anderson Banksy. 
								</div>
								<div class="mt5">
									<span class="glyphicon glyphicon-calendar text-primary"></span>
									2012-12-12
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- right-side end -->
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="title-conponent">
	        		<div class="pull-right">
	        			<button class="btn btn-primary ml10">查看进度</button>
	        			<button class="btn btn-default ml10">转为经典战法</button>
	        			<button class="btn btn-danger ml10">删除战法</button>
	        		</div>
	        		<strong class="f26">Thumbnail label</strong>
	        		<span class="label label-success ml10">已完成</span>
	        	</div>
	        	<div class="mt10">
	        		The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together. This improvement upon the original usage was introduced by no less a man than Stubb, in order to afford the imperilled harpooneer the strongest possible guarantee for the faithfulness and vigilance of his monkey-rope holder.
	        	</div>
	        	<div class="clearfix">
	        		<div class="col-md-3 col-xs-6 mt10">
	        			<span class="aliconfont icon-people f16 text-gray"></span>
	        			Executive Team 执行队伍
	        		</div>
	        		<div class="col-md-3 col-xs-6 mt10">
	        			<span class="aliconfont icon-people f16 text-gray"></span>
	        			Executive Team 执行队伍
	        		</div>
	        		<div class="col-md-3 col-xs-6 mt10">
	        			代办任务
	        			<span class="text-warning">8</span>
	        			<span class="line-space">|</span>
	        			已办任务
	        			<span class="text-primary mt10">8</span>
	        		</div>
	        		<div class="col-md-3 col-xs-6 mt10">
	        			<span class=" glyphicon glyphicon-calendar text-primary"></span>&nbsp;<span class="text-gray">开始:2017年1月4日--结束:2017年12月10日</span>
	        		</div>
	        	</div>


	        	<div class="block-mt">
	        		<%= image_tag("/assets/common/images/methrod-opration.png",width: '100%')%>
	        		<!-- <img style="width: 100%" src="../less/images/methrod-opration.png" alt=""> -->
	        	</div>
			</div>
		</div>
		
	</div>