<div class="bread-nav-wrap">
	<ul class="bread-nav clearfix">
		<li class="bread-nav-item home">
			<a class="link-item" href="">
				<span class="glyphicon glyphicon-home"></span>
			</a>
		</li>
		<li class="bread-nav-item even">
			<a class="link-item" href="">战法管理</a>
		</li>
		<li class="bread-nav-item">
			<span class="link-item" href="">战法详情</span>
		</li>
	</ul>
</div>
<!-- 路径导航 end -->
<div class="" id="tactic-app" v-bind:data-tactic-id="<%= @tactic.id %>">
	<div class="panel panel-default">
		<div class="panel-body">
			<!-- 头部 -->
			<div class="title-conponent">
				<div class="pull-right">
					<button class="btn btn-primary ml10">查看进度</button>
					<button class="btn btn-default ml10">转为经典战法</button>
					<button class="btn btn-danger ml10">删除战法</button>
				</div>
				<strong class="f26"><%= @tactic.name %></strong>
				<span class="label label-success ml10"><%= @tactic.status %></span>
			</div>
			<div class="mt10">
				<%= @tactic.description %>
			</div>
			<div class="clearfix">
				<div class="col-md-2 col-xs-6 mt10">
					<span class="aliconfont icon-people f16 text-gray"></span>
					执行队伍:
					<%= @tactic.executive_team %>
				</div>
				<div class="col-md-4 col-xs-6 mt10">
					<span class="aliconfont icon-people f16 text-gray"></span>
					关联案件:
					<%= @tactic.cases.map{|x| x.name}.join(",") %>
				</div>
				<div class="col-md-3 col-xs-6 mt10">
					待办任务
					<span class="text-warning"><%= @tactic.unfinished_task_count %></span>
					<span class="line-space">|</span>
					已办任务
					<span class="text-primary mt10"><%= @tactic.finished_task_count %></span>
				</div>
				<div class="col-md-3 col-xs-6 mt10">
					<span class=" glyphicon glyphicon-calendar text-primary"></span>
					&nbsp;
					<span class="text-gray">
						开始:<%= @tactic.start_time.strftime('%Y/%m/%d') %>--结束:<%= @tactic.end_time.strftime('%Y/%m/%d') %>
					</span>
				</div>
			</div>
			<!-- 头部结束 -->
			<div class="block-mt" id="flowchart-toolsbar">
				<ul>
					<li title="保存流程图"><span class="fa fa-floppy-o" @click="saveFlowchart"></span></li>
					<li title="导出图片"><span class="fa fa-file-image-o" @click="exportFlowImage"></span></li>
					<li title="加粗" :class="{active: fontWeight == 'bold'}" @click="setFlowchartStyle('fontWeight')"><span class="fa fa-bold"></span></li>
					<li title="下划线" :class="{active: isUnderline}" @click="setFlowchartStyle('isUnderline')"><span class="fa fa-underline"></span></li>
					<li title="斜体" :class="{active: fontStyle == 'italic'}" @click="setFlowchartStyle('fontStyle')"><span class="fa fa-italic"></span></li>
					<li title="字体大小" @click="pickFontSize"><span class="fa fa-font"></span></li>
					<li title="字体颜色" @click="pickFontColor"><span class="fa fa-paint-brush"></span></li>
					<li title="左对齐" :class="{active: textAlign == 'left'}" @click="setFlowchartStyle('textAlign','left')"><span class="fa fa-align-left"></span></li>
					<li title="居中" :class="{active: textAlign == 'center'}" @click="setFlowchartStyle('textAlign','center')"><span class="fa fa-align-center"></span></li>
					<li title="右对齐" :class="{active: textAlign == 'right'}" @click="setFlowchartStyle('textAlign','right')"><span class="fa fa-align-right"></span></li>
					<li title="填充颜色" @click="pickNodeFill"><span class="fa fa-square"></span></li>
					<li title="轮廓颜色" @click="pickNodeOutlineColor"><span class="fa fa-square-o"></span></li>
					<li title="轮廓大小" @click="pickNodeOutlineWidth"><span class="fa fa-window-maximize"></span></li>
					<li title="线条大小" @click="pickLineWidth"><span><strong>/</strong></span></li>
					<li title="线条颜色" @click="pickLineColor"><span class="fa fa-magic"></span></li>
					<li title="箭头样式" @click="pickArrow"><span class="fa fa-long-arrow-up"></span></li>
				</ul>
			</div>

			<div class="clearfix"></div>
			<div id="body-container">
				<div id="data-adjust-panel" v-if="showDataAdjustPanel">
					<button type="button" class="close" @click="showDataAdjustPanel=false" >&times;</button>
					<div class="inner-options" v-if="showSizePicker">
						<button v-for="size in sizeArray" class="btn btn-default" @click="setFlowchartStyle(sizeTarget,size+'px');showDataAdjustPanel=false;">{{size}}px</button>
						<label style="margin-left:5px;">手动输入
							<input type="text" size="4" v-model="inputSize"/>px
						</label>
						<button
						class="btn btn-primary"
						@click="setFlowchartStyle(sizeTarget,inputSize+'px');showDataAdjustPanel=false;">
						确定
					</button>
				</div>
				<div class="inner-options" v-if="showColorPicker">
					<div
					class="color-card"
					v-for="color in colorArray"
					:style="{backgroundColor: color}"
					@click="setFlowchartStyle(colorTarget,color);showDataAdjustPanel=false;"
					></div>
					<div class="color-input">
						<label>
							取色器
							<input type="color"
							v-model="inputColor"
							@change="setFlowchartStyle(colorTarget,inputColor);showDataAdjustPanel=false;"/>
						</label>
					</div>
					<div style="clear: both;"></div>
				</div>
				<div class="inner-options" v-if="showArrowPicker">
					<button v-for="arrow in arrowArray" class="btn btn-default" @click="setFlowchartStyle('arrowStyle',arrow.value);showDataAdjustPanel=false;">{{arrow.name}}</button>
				</div>
			</div>
			<!-- 左边图元 -->
			<div id="tactics-flow-palette"></div>
			<!-- 中间画板 -->
			<div id="tactics-flow-container" data-flow-data-url="<%= @tactic.flow_data_url %>"></div>
			<!-- 右边信息栏 -->
			<div id="tactics-flow-info">
				<h4>任务信息:</h4>
				<form class="form-horizontal">
					<div class="hidden">
						<input id="current-task-id" class="hidden" type="text" @click="changeCurrentTask"/>
					</div>
					<div class="form-group">
						<label class="control-label">名称:</label>
						<input class="form-control" type="text" v-model="currentTask.name" :readonly="!isTaskEditing"/>
					</div>
					<div class="form-group">
						<label class="control-label">状态:</label>
						<input class="form-control" type="text" v-model="currentTask.status" :readonly="!isTaskEditing"/>
					</div>

					<div class="form-group">
						<label class="control-label">执行人:</label>
						<input class="form-control" type="text" v-model="currentTask.executor" :readonly="!isTaskEditing"/>
					</div>

					<div class="form-group">
						<label class="control-label">完成时间:</label>
						<input class="form-control" type="text" v-model="currentTask.finished_time" :readonly="true"/>
					</div>

					<div class="form-group">
						<label class="control-label">创建时间:</label>
						<input class="form-control" type="text" v-model="currentTask.created_at" :readonly="true"/>
					</div>

					<div class="form-group">
						<label class="control-label">时间限制:</label>
						<input class="form-control" type="text" :readonly="!isTaskEditing"/>
					</div>

					<div class="form-group">
						<label class="control-label">任务描述:</label>
						<textarea class="form-control" rows="2" v-model="currentTask.description" :readonly="!isTaskEditing"></textarea>
					</div>
					<div class="form-group">
						<button type="button" class="btn" v-bind:class="{'btn-primary': !isTaskEditing,'btn-warning': isTaskEditing}" @click="editOrSave" :disabled="isTaskEditLock">
							{{isTaskEditing ? "保存" : "编辑"}}
						</button>
					</div>
				</form>
			</div>
		</div>
		<!-- 右边信息栏结束 -->
		<div class="clearfix"></div>
		<div class="block-mt" id="tactics-task-table">
			<div class="block-mt mt5">
				<h4>任务列表:</h4>
			</div>
			<table class='table table-hover thead-bg' v-if="tasks.length>0">
				<thead>
					<tr>
						<th v-for="header in taskHeaders" v-if="columnBlacklist.indexOf(header)<0">{{taskHeadersTranslator.$get(header)}}</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="task in tasks">
						<td v-for="header in taskHeaders" v-if="columnBlacklist.indexOf(header)<0">{{task[header]}}</td>
						<td>
							<button class="btn btn-xs btn-success" :disabled="task.status==='已完成'" @click="finishTask(task.id)">
								完成
							</button>
							<button class="btn btn-xs btn-danger" @click="deleteTask(task.id)">删除</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

</div>
