  <div class="analysis-wrap">
  <div class="bread-nav-wrap">
    <ul class="bread-nav clearfix">
      <li class="bread-nav-item home">
        <a class="link-item" href=""><span class="glyphicon glyphicon-home"></span></a>
      </li>
      <li class="bread-nav-item">
        <a class="link-item" href="">案件详情</a>
      </li>
      <li class="bread-nav-item">
        <span class="link-item">案件详情</span>
      </li>
    </ul>
  </div>
  <!-- 路径导航 end -->
  <div class="left-side left-side-inverse column-18">
    <div class="left-side-heading">
      <div class="heading-title">
        <a class="pull-right small" href="">回首页</a>
        相关案件
      </div>
      <div class="input-group">
        <input type="text" class="form-control" value="搜索">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">
          搜
          </button>
        </span>
      </div>
    </div>
    <ul class="analysis-img-list">
      
      <li class="list-item active">
        <a href="#" class="img-wrap active">
          <%= image_tag("/assets/common/images/image/Bitmap1.png")%>
          <div class="img-title text-ellipsis">117系列汽车走私案</div>
        </a>
      </li>
      <li class="list-item">
        <a href="#" class="img-wrap">
          <%= image_tag("/assets/common/images/image/Bitmap2.png")%>
          <div class="img-title text-ellipsis">117系列汽车走私案</div>
        </a>
      </li>
      <li class="list-item">
        <a href="#" class="img-wrap">
          <%= image_tag("/assets/common/images/image/Bitmap3.png")%>
          <div class="img-title text-ellipsis">117系列汽车走私案</div>
        </a>
      </li>
      
      <li class="list-item">
        <a href="#" class="img-wrap">
          <%= image_tag("/assets/common/images/image/Bitmap4.png")%>
          <div class="img-title text-ellipsis">117系列汽车走私案</div>
        </a>
      </li>
    </ul>
  </div>
  <!-- left-side end -->
  <div class="right-side column-24">
    <div class="inner-panel">
      <div class="panel-heading">
        <div class="panel-title">
          涉案团伙成员
        </div>
      </div>
      <div class="block-plr">
        <ul class="media-list media-img40">
          <li class="media">
            <div class="media-left">
              <%= image_tag("/assets/common/images/image/people1.png",:class=>"img-circle")%>
            </div>
            <div class="media-body">
              <div class="media-heading">张三</div>
              <div class="text-muted">一号人物，28岁，男</div>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <%= image_tag("/assets/common/images/image/people2.png",:class=>"img-circle")%>
            </div>
            <div class="media-body">
              <div class="media-heading">张三</div>
              <div class="text-muted">一号人物，28岁，男</div>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <%= image_tag("/assets/common/images/image/people3.png",:class=>"img-circle")%>
            </div>
            <div class="media-body">
              <div class="media-heading">张三</div>
              <div class="text-muted">一号人物，28岁，男</div>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <%= image_tag("/assets/common/images/image/people4.png",:class=>"img-circle")%>
            </div>
            <div class="media-body">
              <div class="media-heading">张三</div>
              <div class="text-muted">一号人物，28岁，男</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="inner-panel">
      <div class="panel-heading">
        <div class="panel-title">
          关联车辆  
        </div>
      </div>
      <div class="block-plr">
        <ul class="media-list media-img40">
          <li class="media">
            <div class="media-left">
              <%= image_tag("/assets/common/images/car_def.png",:class=>"img-circle")%>
            </div>
            <div class="media-body">
              <div class="media-heading">5-214-34-038</div>
              <div class="text-muted">白色，轿车</div>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <%= image_tag("/assets/common/images/car_def.png",:class=>"img-circle")%>
            </div>
            <div class="media-body">
              <div class="media-heading">5-214-34-038</div>
              <div class="text-muted">白色，轿车</div>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <%= image_tag("/assets/common/images/car_def.png",:class=>"img-circle")%>
            </div>
            <div class="media-body">
              <div class="media-heading">5-214-34-038</div>
              <div class="text-muted">白色，轿车</div>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <%= image_tag("/assets/common/images/car_def.png",:class=>"img-circle")%>
            </div>
            <div class="media-body">
              <div class="media-heading">5-214-34-038</div>
              <div class="text-muted">白色，轿车</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="inner-panel">
      <div class="panel-heading">
        <div class="panel-title">
          <a href="" class="more">更多</a>
          关联文档
        </div>
      </div>
      <div class="block-plr">
        <ul class="media-list media-img40">
          <li class="media">
            <div class="media-left">
              <%= image_tag("/assets/common/images/documemt_def.png",:class=>"img-circle")%>
            </div>
            <div class="media-body">
              <div class="media-heading">Edward Rios</div>
              <div class="text-muted">重要，1月2日 20:34</div>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <%= image_tag("/assets/common/images/documemt_def.png",:class=>"img-circle")%>
            </div>
            <div class="media-body">
              <div class="media-heading">Edward Rios</div>
              <div class="text-muted">重要，1月2日 20:34</div>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <%= image_tag("/assets/common/images/documemt_def.png",:class=>"img-circle")%>
            </div>
            <div class="media-body">
              <div class="media-heading">Edward Rios</div>
              <div class="text-muted">重要，1月2日 20:34</div>
            </div>
          </li>
        </ul>
      </div>
    </div>  
  </div>
  <!-- right-side end -->
  <div class="container-18-24">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="info-show">
          <div class="info-left">
            <%= image_tag("/assets/common/images/image/Bitmap1.png")%>
          </div>
          <div class="info-body">
            <div class="info-heading clearfix">
              <div class="pull-left">
                <div class="info-name">117汽车系列走私案</div>
                <div class="mt5">
                  <span class="label label-warning mr10">走私</span>
                </div>
              </div>
              
              <div class="ico-tool-list pull-right">
                <a class="ico-wrap" href="">
                  <div class="ico-name">5人</div>
                  <div class="text-gray">
                    <span class="aliconfont icon-family f14 mr5"></span>涉及团伙成员
                  </div>
                </a>
                <a class="ico-wrap" href="">
                  <div class="ico-name">5台</div>
                  <div class="text-gray">
                    <span class="aliconfont icon-car f14 mr5"></span>涉案车辆 
                  </div>
                </a>
                <a class="ico-wrap" href="">
                  <div class="ico-name">9份</div>
                  <div class="text-gray">
                    <span class="glyphicon glyphicon-file f14 mr5"></span> 关联文档 
                  </div>
                </a>
                <a class="ico-wrap" href="">
                  <div class="ico-name">1个</div>
                  <div class="text-gray">
                    <span class="aliconfont icon-tab f14 mr5"></span>标签信息
                  </div>
                </a>
              </div>
            </div>
            <div class="info-list-wrap">
              <ul class="float-ul wu2 clearfix lh22">
                <li class="float-ul-item">案件名称：117汽车系列走私案</li>
                <li class="float-ul-item">涉案物品：豪华进口车343辆</li>
                <li class="float-ul-item">案件类型：洗车走私案</li>
                <li class="float-ul-item">执法部门：山东海关东华分部</li>
                <li class="float-ul-item">案件时间：2016-12-12</li>
                <li class="float-ul-item">&nbsp;</li>
                <li class="float-ul-item">案件地点：山东港口</li>
                <li class="float-ul-item">&nbsp;</li>
                <li class="float-ul-item">涉及金额：4亿</li>
                <li class="float-ul-item">&nbsp;</li>
                <li class="float-ul-item">涉及团伙：张三团伙</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="inner-panel-heading">
        <span class="pull-right text-gray">
          <span class="glyphicon glyphicon-calendar text-primary"></span>
          2017-12-12 19:12:12
        </span>
        <span class="panel-title">案件描述</span>
      </div>
        <div class="inner-panel-body">
                  山东海关成功破获了“1·17”汽车系列走私案。山东海关立即开展线索核查，逐渐摸清一个以许某某为首的保货团伙从事走私汽车的犯罪事实，并发现另有数个本地走私汽车保货团伙与之存在勾联，案情重大。    海关初步查明，以许某某、邓某某等人为首的6个汽车走私团伙相互勾结，通过绕越设关口岸从广西防城港市、崇左市等中越边境非设关地将汽车走私进境，并开往广东佛山、东莞、深圳等地交给相应的多个汽车走私团伙，贩卖到全国各地牟利。
         经初步统计，从2012年至今，上述6个团伙共以保货方式从越南走私入境汽车1900余辆，涉及宾利、保时捷、路虎等高端汽车品牌，案值共计约19亿元，这也是山东海关建立缉私局以来侦办的最大一起汽车走私案。
            为了追查这个团伙，山东海关与湛江、黄埔、石家庄海关等直属海关单位案件线索的对碰核查，摸清了走私团伙的利益链条，并且逐个击破！    海关初步查明，以许某某、邓某某等人为首的6个汽车走私团伙相互勾结，通过绕越设关口岸从广西防城港市、崇左市等中越边境非设关地将汽车走私进境，并开往广东佛山、东莞、深圳等地交给相应的多个汽车走私团伙，贩卖到全国各地牟利。
         经初步统计，从2012年至今，上述6个团伙共以保货方式从越南走私入境汽车1900余辆，涉及宾利、保时捷、路虎等高端汽车品牌，案值共计约19亿元，这也是山东海关建立缉私局以来侦办的最大一起汽车走私案。
            为了追查这个团伙，山东海关与湛江、黄埔、石家庄海关等直属海关单位案件线索的对碰核查，摸清了走私团伙的利益链条，并且逐个击破！    海关初步查明，以许某某、邓某某等人为首的6个汽车走私团伙相互勾结，通过绕越设关口岸从广西防城港市、崇左市等中越边境非设关地将汽车走私进境，并开往广东佛山、东莞、深圳等地交给相应的多个汽车走私团伙，贩卖到全国各地牟利。
         经初步统计，从2012年至今，上述6个团伙共以保货方式从越南走私入境汽车1900余辆，涉及宾利、保时捷、路虎等高端汽车品牌，案值共计约19亿元，这也是山东海关建立缉私局以来侦办的最大一起汽车走私案。
            为了追查这个团伙，山东海关与湛江、黄埔、石家庄海关等直属海关单位案件线索的对碰核查，摸清了走私团伙的利益链条，并且逐个击破！
      经初步统计，从2012年至今，上述6个团伙共以保货方式从越南走私入境汽车1900余辆，涉及宾利、保时捷、路虎等高端汽车品牌，案值共计约19亿元，这也是山东海关建立缉私局以来侦办的最大一起汽车走私案。
            为了追查这个团伙，山东海关与湛江、黄埔、石家庄海关等直属海关单位案件线索的对碰核查，摸清了走私团伙的利益链条，并且逐个击破！    海关初步查明，以许某某、邓某某等人为首的6个汽车走私团伙相互勾结，通过绕越设关口岸从广西防城港市、崇左市等中越边境非设关地将汽车走私进境，并开往广东佛山、东莞、深圳等地交给相应的多个汽车走私团伙，贩卖到全国各地牟利。
      为了追查这个团伙，山东海关与湛江、黄埔、石家庄海关等直属海关单位案件线索的对碰核查，摸清了走私团伙的利益链条，并且逐个击破！
      经初步统计，从2012年至今，上述6个团伙共以保货方式从越南走私入境汽车1900余辆，涉及宾利、保时捷、路虎等高端汽车品牌，案值共计约19亿元，这也是山东海关建立缉私局以来侦办的最大一起汽车走私案。
        </div>
      </div>
    </div>  
  </div>
  </div>