<div class="bread-nav-wrap">
  <ul class="bread-nav clearfix">
    <li class="bread-nav-item home">
      <a class="link-item" href="">
        <span class="glyphicon glyphicon-home"></span>
      </a>
    </li>
    <li class="bread-nav-item even">
      <a class="link-item" href="">任务管理</a>
    </li>
    <li class="bread-nav-item">
      <span class="link-item" href="">任务详情</span>
    </li>
  </ul>
</div>

<div class="block-mt">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title">任务详情</div>
        <hr/>
      </div>
      <div class="panel-body">
        <table class="table table-bordered table-condensed">
          <tbody>
            <tr>
              <td><strong>ID</strong></td>
              <td><%= @tactic_task.id %></td>
            </tr>
            <tr>
              <td><strong>名称</strong></td>
              <td><%= @tactic_task.name %></td>
            </tr>
            <tr>
              <td><strong>执行者</strong></td>
              <td><%= @tactic_task.user.select(:name).map{|u|u.name}.join(",") %></td>
            </tr>
            <tr>
              <td><strong>战法ID</strong></td>
              <td><%= @tactic_task.tactic_id %></td>
            </tr>
            <tr>
              <td><strong>战法名称</strong></td>
              <td><%= Tactic.find(@tactic_task.tactic_id).name %></td>
            </tr>
            <tr>
              <td><strong>类型</strong></td>
              <td><%= @tactic_task.category %></td>
            </tr>
            <tr>
              <td><strong>状态</strong></td>
              <td><%= @tactic_task.status %></td>
            </tr>
            <tr>
              <td><strong>开始时限</strong></td>
              <td><%= @tactic_task.start_time %></td>
            </tr>
            <tr>
              <td><strong>完成时限</strong></td>
              <td><%= @tactic_task.end_time %></td>
            </tr>
            <tr>
              <td><strong>完成时间</strong></td>
              <td><%= @tactic_task.finished_time %></td>
            </tr>
            <tr>
              <td><strong>描述</strong></td>
              <td><%= @tactic_task.description %></td>
            </tr>
            <tr>
              <td><strong>创建时间</strong></td>
              <td><%= @tactic_task.created_at %></td>
            </tr>
            <tr>
              <td><strong>附件名称</strong></td>
              <td><%= @tactic_task.attachment_name %></td>
            </tr>
            <tr>
              <td><strong>附件下载</strong></td>
              <td><%= link_to '点击下载', @tactic_task.attachment_url if  @tactic_task.attachment_url %></td>
            </tr>
          </tbody>
        </table>
        <div class="block-mt col-sm-2 col-sm-offset-10">
          <%= link_to "返回", position_decisions_index_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
