	<div class="bread-nav-wrap">
		<ul class="bread-nav clearfix">
			<li class="bread-nav-item home">
				<a class="link-item" class="link-item" href="/position_decisions/index"><span class="glyphicon glyphicon-home"></span></a>
			</li>
			<li class="bread-nav-item">
				<a class="link-item" href="">分析岗</a>
			</li>
		</ul>
	</div>
	<!-- 路径导航 end -->
	<div class="block-mtb">
		<div class="clearfix">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="inner-panel-heading">
						<span class="pull-right">
							更多
						</span>
						<span class="panel-title">嫌疑犯</span>
					</div>
					<div class="inner-panel-body">
						<div class="img-column">
							<ul class="clearfix list-unstyled block-list">
							 	<% @suspects.each do |suspect| %>
								 	<li class="col-xs-6 col-md-3">
										<div class="img-wrap img-adapt img-h-136 href="#">
											<a class="z-cell" href="">
												<%= image_tag("#{suspect.photo}",:class => "img")%>
											</a>
											<div class="img-title text-ellipsis">
												<%= suspect.name %>
											</div>
										</div>
									</li>
							 	<% end -%>
								<!-- <li class="col-xs-6 col-md-3">
									<div class="img-wrap img-adapt img-h-136 href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/rectangle1.png",:class => "img")%>
										</a>
										<div class="img-title text-ellipsis">
											某某某某
										</div>
									</div>
								</li>
								<li class="col-xs-6 col-md-3">
									<div class="img-wrap img-adapt img-h-136" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/rectangle2.png",:class => "img")%>
										</a>
										<div class="img-title text-ellipsis">
											某某某某
										</div>
									</div>
								</li>
								<li class="col-xs-6 col-md-3">
									<div class="img-wrap img-adapt img-h-136" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/rectangle4.png",:class => "img")%>
										</a>
										<div class="img-title text-ellipsis">
											某某某某
										</div>
									</div>
								</li>
								<li class="col-xs-6 col-md-3">
									<div class="img-wrap img-adapt img-h-136" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/rectangle3.png",:class => "img")%>
										</a>
										<div class="img-title text-ellipsis">
											某某某某
										</div>
									</div>
								</li>
								
 -->
							</ul>
						</div>
					</div>
					<div class="block-plr">
						<span class="pull-right">
							更多
						</span>
						<span class="panel-title">嫌疑犯团伙</span>
					</div>
					<div class="inner-panel-body">
						<div class="img-column">
							<ul class="clearfix list-unstyled block-list">
								<li class="col-xs-4">
									<div class="img-wrap img-adapt img-h-110" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/tuanhuo1.png",:class => "img")%>
										</a>
										<div class="img-title text-ellipsis">
											某某某某
										</div>
									</div>
								</li>
								<li class="col-xs-4">
									<div class="img-wrap img-adapt img-h-110" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/tuanhuo2.png",:class => "img")%>
										</a>
										<div class="img-title text-ellipsis">
											某某某某
										</div>
									</div>
								</li>
								<li class="col-xs-4">
									<div class="img-wrap img-adapt img-h-110" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/tuanhuo3.png",:class => "img")%>
										</a>
										<div class="img-title text-ellipsis">
											某某某某
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default block-mt">
					<div class="inner-panel-heading">
						<span class="pull-right">
							更多
						</span>
						<span class="panel-title">案件</span>
					</div>
					<div class="inner-panel-body">
						<div class="img-column">
							<ul class="clearfix list-unstyled block-list">
								<li class="col-xs-6">
									<div class="img-wrap img-adapt" href="#">
									<!-- 外框高度限定为100px -->
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/anjian1.png",:class => "img")%>
										</a>
										<div class="img-title text-ellipsis">
											某某某某
										</div>
									</div>
								</li>
								<li class="col-xs-6">
									<div class="img-wrap img-adapt" href="#">
									<!-- 外框高度限定为100px -->
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/anjian2.png",:class => "img")%>
										</a>
										<div class="img-title text-ellipsis">
											某某某某
										</div>
									</div>
								</li>
								<li class="col-xs-6">
									<div class="img-wrap img-adapt" href="#">
									<!-- 外框高度限定为100px -->
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/anjian3.png",:class => "img")%>
										</a>
										<div class="img-title text-ellipsis">
											某某某某
										</div>
									</div>
								</li>
								<li class="col-xs-6">
									<div class="img-wrap img-adapt" href="#">
									<!-- 外框高度限定为100px -->
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/anjian4.png",:class => "img")%>
										</a>
										<div class="img-title text-ellipsis">
											某某某某
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>


			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6 block-mb">
						<div class="panel panel-default">
							<div class="inner-panel-heading">
								<span class="pull-right">
									更多
								</span>
								<span class="panel-title">人际关系分析</span>
							</div>
							<div class="inner-panel-body">
								<div class="img-column">
									<ul class="clearfix list-unstyled block-list">
										<li class="col-xs-6">
											<div class="img-wrap img-adapt" href="#">
												<a class="z-cell" href="">
													<%= image_tag("/assets/common/images/img-analy2.png",:class => "img")%>
												</a>
												<div class="img-title text-ellipsis">
													某某某某
												</div>
											</div>
										</li>
										<li class="col-xs-6">
											<div class="img-wrap img-adapt" href="#">
												<a class="z-cell" href="">
													<%= image_tag("/assets/common/images/img-analy2.png",:class => "img")%>
												</a>
												<div class="img-title text-ellipsis">
													某某某某
												</div>
											</div>
										</li>
										<li class="col-xs-6">
											<div class="img-wrap img-adapt" href="#">
												<a class="z-cell" href="">
													<%= image_tag("/assets/common/images/img-analy2.png",:class => "img")%>
												</a>
												<div class="img-title text-ellipsis">
													某某某某
												</div>
											</div>
										</li>
										<li class="col-xs-6">
											<div class="img-wrap img-adapt" href="#">
												<a class="z-cell" href="">
													<%= image_tag("/assets/common/images/img-analy2.png",:class => "img")%>
												</a>
												<div class="img-title text-ellipsis">
													某某某某
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 block-mb">
						<div class="panel panel-default">
							<div class="inner-panel-heading">
								<span class="pull-right">
									更多
								</span>
								<span class="panel-title">出行轨迹分析</span>
							</div>
							<div class="inner-panel-body">
								<div class="img-column">
									<ul class="clearfix list-unstyled block-list">
										<li class="col-xs-6">
											<div class="img-wrap img-adapt" href="#">
												<a class="z-cell" href="">
													<%= image_tag("/assets/common/images/img-analy1.png",:class => "img")%>
												</a>
												<div class="img-title text-ellipsis">
													某某某某
												</div>
											</div>
										</li>
										<li class="col-xs-6">
											<div class="img-wrap img-adapt" href="#">
												<a class="z-cell" href="">
													<%= image_tag("/assets/common/images/img-analy1.png",:class => "img")%>
												</a>
												<div class="img-title text-ellipsis">
													某某某某
												</div>
											</div>
										</li>
										<li class="col-xs-6">
											<div class="img-wrap img-adapt" href="#">
												<a class="z-cell" href="">
													<%= image_tag("/assets/common/images/img-analy1.png",:class => "img")%>
												</a>
												<div class="img-title text-ellipsis">
													某某某某
												</div>
											</div>
										</li>
										<li class="col-xs-6">
											<div class="img-wrap img-adapt" href="#">
												<a class="z-cell" href="">
													<%= image_tag("/assets/common/images/img-analy1.png",:class => "img")%>
												</a>
												<div class="img-title text-ellipsis">
													某某某某
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>	
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="inner-panel-heading clearfix">
								<span class="pull-right">
									更多
								</span>
								<span class="panel-title">资金流转分析</span>
							</div>
							<div class="inner-panel-body">
								<div class="img-column">
									<ul class="clearfix list-unstyled block-list">
										<li class="col-xs-12">
											<div class="img-wrap img-adapt" href="#">
											<!-- 外框高度限定为100px -->
												<a class="z-cell" href="">
													<%= image_tag("/assets/common/images/image/index1.png",:class => "img")%>
												</a>
												<div class="img-title text-ellipsis">
													某某某某
												</div>
											</div>
										</li>
										<li class="col-xs-12">
											<div class="img-wrap img-adapt" href="#">
											<!-- 外框高度限定为100px -->
												<a class="z-cell" href="">
													<%= image_tag("/assets/common/images/image/index1.png",:class => "img")%>
												</a>
												<div class="img-title text-ellipsis">
													某某某某
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 block-mb">
						<div class="panel panel-default">
							<div class="inner-panel-heading clearfix">
								<span class="pull-right">
									更多
								</span>
								<span class="panel-title">物流来往分析</span>
							</div>
							<div class="inner-panel-body">
								<div class="img-column">
									<ul class="clearfix list-unstyled block-list">
										<li class="col-xs-12">
											<div class="">
												<div class="img-wrap img-adapt" href="#">
												<!-- 外框高度限定为100px -->
													<a class="z-cell" href="">
														<%= image_tag("/assets/common/images/image/index2.png",:class => "img")%>
													</a>
													<div class="img-title text-ellipsis">
														某某某某
													</div>
												</div>
											</div>
										</li>
										<li class="col-xs-12">
											<div class="img-wrap">
												<div class=" img-adapt" href="#">
												<!-- 外框高度限定为100px -->
													<a class="z-cell" href="">
														<%= image_tag("/assets/common/images/image/index2.png",:class => "img")%>
													</a>
													
												</div>
												<div class="img-title text-ellipsis">
													某某某某
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>