  <div class="bread-nav-wrap">
    <ul class="bread-nav clearfix">
      <li class="bread-nav-item home">
        <a class="link-item" class="link-item" href=""><span class="glyphicon glyphicon-home"></span></a>
      </li>
      <li class="bread-nav-item">
        <span class="link-item" href="">决策岗</span>
      </li>
    </ul>
  </div>
  <!-- 路径导航 end -->
  <div class="block-mtb">
    <div class="clearfix">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="inner-panel-heading">
            <span class="pull-right">
              更多
            </span>
            <span class="panel-title">嫌疑犯</span>
          </div>
          <div class="inner-panel-body">
            <div class="img-column">
              <ul class="clearfix list-unstyled block-list">
                <% @suspects.each do |suspect| %>
                  <li class="col-xs-6 col-md-3">
                    <div class="img-wrap img-adapt img-h-136">
                      <a class="z-cell" href="">
                       <%= image_tag("#{suspect.photo}",:class => "img")%>
                      </a>
                      <div class="img-title text-ellipsis">
                        <%= suspect.name %>
                      </div>
                    </div>
                  </li>
                <% end %>
                <!-- <li class="col-xs-6 col-md-3">
                  <div class="img-wrap img-adapt img-h-136">
                    <a class="z-cell" href="">
                     <%= image_tag("/assets/common/images/image/rectangle1.png",:class => "img")%>
                    </a>
                    <div class="img-title text-ellipsis">
                      某某某某
                    </div>
                  </div>
                </li>
                <li class="col-xs-6 col-md-3">
                  <div class="img-wrap img-adapt img-h-136">
                    <a class="z-cell" href="">
                      <%= image_tag("/assets/common/images/image/rectangle2.png",:class => "img")%>
                    </a>
                    <div class="img-title text-ellipsis">
                      某某某某
                    </div>
                  </div>
                </li>
                <li class="col-xs-6 col-md-3">
                  <div class="img-wrap img-adapt img-h-136">
                    <a class="z-cell" href="">
                      <%= image_tag("/assets/common/images/image/rectangle4.png",:class => "img")%>
                    </a>
                    <div class="img-title text-ellipsis">
                      某某某某
                    </div>
                  </div>
                </li>
                <li class="col-xs-6 col-md-3">
                  <div class="img-wrap img-adapt img-h-136">
                    <a class="z-cell" href="">
                      <%= image_tag("/assets/common/images/image/rectangle3.png",:class => "img")%>
                    </a>
                    <div class="img-title text-ellipsis">
                      某某某某
                    </div>
                  </div>
                </li> -->
                

              </ul>
            </div>
          </div>
          <div class="block-plr">
            <span class="pull-right">
              更多
            </span>
            <span class="panel-title">嫌疑犯团伙</span>
          </div>
          <div class="inner-panel-body">
            <div class="img-column">
              <ul class="clearfix list-unstyled block-list">
                <li class="col-xs-4">
                  <div class="img-wrap img-adapt img-h-110">
                    <a class="z-cell" href="">
                      <%= image_tag("/assets/common/images/image/tuanhuo1.png",:class => "img")%>
                    </a>
                    <div class="img-title text-ellipsis">
                      某某某某
                    </div>
                  </div>
                </li>
                <li class="col-xs-4">
                  <div class="img-wrap img-adapt img-h-110">
                    <a class="z-cell" href="">
                    <%= image_tag("/assets/common/images/image/tuanhuo2.png",:class => "img")%>
                    </a>
                    <div class="img-title text-ellipsis">
                      某某某某
                    </div>
                  </div>
                </li>
                <li class="col-xs-4">
                  <div class="img-wrap img-adapt img-h-110">
                    <a class="z-cell" href="">
                     <%= image_tag("/assets/common/images/image/tuanhuo3.png",:class => "img")%>
                    </a>
                    <div class="img-title text-ellipsis">
                      某某某某
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default block-mt">
          <div class="inner-panel-heading">
            <span class="pull-right">
              更多
            </span>
            <span class="panel-title">案件</span>
          </div>
          <div class="inner-panel-body">
            <div class="img-column">
              <ul class="clearfix list-unstyled block-list">
                <li class="col-xs-6">
                  <div class="img-wrap img-adapt">
                  <!-- 外框高度限定为100px -->
                    <a class="z-cell" href="">
                      <%= image_tag("/assets/common/images/image/anjian1.png",:class => "img")%>
                    </a>
                    <div class="img-title text-ellipsis">
                      某某某某
                    </div>
                  </div>
                </li>
                <li class="col-xs-6">
                  <div class="img-wrap img-adapt">
                  <!-- 外框高度限定为100px -->
                    <a class="z-cell" href="">
                     <%= image_tag("/assets/common/images/image/anjian2.png",:class => "img")%>
                    </a>
                    <div class="img-title text-ellipsis">
                      某某某某
                    </div>
                  </div>
                </li>
                <li class="col-xs-6">
                  <div class="img-wrap img-adapt">
                  <!-- 外框高度限定为100px -->
                    <a class="z-cell" href="">
                      <%= image_tag("/assets/common/images/image/anjian3.png",:class => "img")%>
                    </a>
                    <div class="img-title text-ellipsis">
                      某某某某
                    </div>
                  </div>
                </li>
                <li class="col-xs-6">
                  <div class="img-wrap img-adapt">
                  <!-- 外框高度限定为100px -->
                    <a class="z-cell" href="">
                      <%= image_tag("/assets/common/images/image/anjian4.png",:class => "img")%>
                    </a>
                    <div class="img-title text-ellipsis">
                      某某某某
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="inner-panel-heading">
            <span class="panel-title">近期案件统计</span>
          </div>
          <div class="panel-body">
            <div style="width:100%; height: 180px;">
              <%= image_tag("/assets/common/images/chart1.png")%>
            </div>
          </div>
        </div>
        <div class="panel panel-default block-mt">
          <div class="inner-panel-heading">
            <span class="panel-title">案件态势分析及预测</span>
          </div>
          <div class="panel-body">
            <div style="width: 100%; height: 180px;">
              <%= image_tag("/assets/common/images/chart2.png")%>
            </div>
          </div>
        </div>
        <div class="panel panel-default block-mt">
          <div class="panel-heading">
            <span class="panel-title">精准缉私、缉毒库</span>
          </div>
          <div class="block-plr">
            <div class="img-column clearfix">
              <div class="col-xs-3 block-mb">
                <a class="primary-cup-block" href="">
                  <div class="f14 name">汽车走私特征库</div>
                  <div>
                    <span class="f20 num">1000</span>
                    <span class="text-gray">例</span>
                  </div>
                </a>
              </div>
              <div class="col-xs-3 block-mb">
                <a class="primary-cup-block" href="">
                  <div class="f14 name">汽车走私特征库</div>
                  <div>
                    <span class="f20 num">1000</span>
                    <span class="text-gray">例</span>
                  </div>
                </a>
              </div>
              <div class="col-xs-3 block-mb">
                <a class="primary-cup-block" href="">
                  <div class="f14 name">汽车走私特征库</div>
                  <div>
                    <span class="f20 num">1000</span>
                    <span class="text-gray">例</span>
                  </div>
                </a>
              </div>
              <div class="col-xs-3 block-mb">
                <a class="primary-cup-block" href="">
                  <div class="f14 name">汽车走私特征库</div>
                  <div>
                    <span class="f20 num">1000</span>
                    <span class="text-gray">例</span>
                  </div>
                </a>
              </div>
              <div class="col-xs-3 block-mb">
                <a class="primary-cup-block" href="">
                  <div class="f14 name">汽车走私特征库</div>
                  <div>
                    <span class="f20 num">1000</span>
                    <span class="text-gray">例</span>
                  </div>
                </a>
              </div>
              <div class="col-xs-3 block-mb">
                <a class="primary-cup-block" href="">
                  <div class="f14 name">汽车走私特征库</div>
                  <div>
                    <span class="f20 num">1000</span>
                    <span class="text-gray">例</span>
                  </div>
                </a>
              </div>
              <div class="col-xs-3 block-mb">
                <a class="primary-cup-block" href="">
                  <div class="f14 name">汽车走私特征库</div>
                  <div>
                    <span class="f20 num">1000</span>
                    <span class="text-gray">例</span>
                  </div>
                </a>
              </div>
              <div class="col-xs-3 block-mb">
                <a class="primary-cup-block" href="">
                  <div class="f14 name">汽车走私特征库</div>
                  <div>
                    <span class="f20 num">1000</span>
                    <span class="text-gray">例</span>
                  </div>
                </a>
              </div>


            </div>
          </div>
        </div>  
      </div>
      
    </div>
</div>