				<div class="panel panel-default">
					<div class="inner-panel-heading">
						<span class="pull-right">
							更多
						</span>
						<span class="panel-title">嫌疑犯</span>
					</div>
					<div class="inner-panel-body">
						<div class="img-column">
							<ul class="clearfix list-unstyled block-list">
								<% @suspects.each do |suspect| %>
									<li class="col-xs-6 col-md-3">
										<div class="img-wrap img-adapt img-h-136">
											<a class="z-cell" href="/suspects/<%= suspect.id%>">
											 	<%= image_tag("#{suspect.photo}",:class => "img")%>
											</a>
											<div class="img-title text-ellipsis">
												<%= suspect.name %>
											</div>
										</div>
									</li>
								<% end %>
								<!-- <li class="col-xs-6 col-md-3">
									<div class="img-wrap img-adapt img-h-136 href="#">
										<a class="z-cell" href="">
										 	<%= image_tag("/assets/common/images/image/rectangle1.png",:class => "img")%>
										</a>
										<div class="img-title text-ellipsis">
											某某某某
										</div>
									</div>
								</li>
								<li class="col-xs-6 col-md-3">
									<div class="img-wrap img-adapt img-h-136" href="#">
										<a class="z-cell" href="">
	 										<%= image_tag("/assets/common/images/image/rectangle2.png",:class => "img")%>
										</a>
										<div class="img-title text-ellipsis">
											某某某某
										</div>
									</div>
								</li>
								<li class="col-xs-6 col-md-3">
									<div class="img-wrap img-adapt img-h-136" href="#">
										<a class="z-cell" href="">
										 	<%= image_tag("/assets/common/images/image/rectangle4.png",:class => "img")%>
										</a>
										<div class="img-title text-ellipsis">
											某某某某
										</div>
									</div>
								</li>
								<li class="col-xs-6 col-md-3">
									<div class="img-wrap img-adapt img-h-136" href="#">
										<a class="z-cell" href="">
										 	<%= image_tag("/assets/common/images/image/rectangle3.png",:class => "img")%>
										</a>
										<div class="img-title text-ellipsis">
											某某某某
										</div>
									</div>
								</li> -->
								

							</ul>
						</div>
					</div>
					<div class="block-plr">
						<span class="pull-right">
							更多
						</span>
						<span class="panel-title">嫌疑犯团伙</span>
					</div>
					<div class="inner-panel-body">
						<div class="img-column">
							<ul class="clearfix list-unstyled block-list">
							<% @suspects_teams.each do |suspects_team| %>
								<li class="col-xs-4">
									<div class="img-wrap img-adapt img-h-110">
										<a class="z-cell" href="/suspects_teams/<%= suspects_team.id%>">
											 <%= image_tag("#{suspects_team.photo}",:class => "img")%>
										</a>
										<div class="img-title text-ellipsis">
											<%= suspects_team.name %>
										</div>
									</div>
								</li>
							<% end %>
								<!-- <li class="col-xs-4">
									<div class="img-wrap img-adapt img-h-110" href="#">
										<a class="z-cell" href="">
											 <%= image_tag("/assets/common/images/image/tuanhuo1.png",:class => "img")%>
										</a>
										<div class="img-title text-ellipsis">
											某某某某
										</div>
									</div>
								</li>
								<li class="col-xs-4">
									<div class="img-wrap img-adapt img-h-110" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/tuanhuo2.png",:class => "img")%>
										</a>
										<div class="img-title text-ellipsis">
											某某某某
										</div>
									</div>
								</li>
								<li class="col-xs-4">
									<div class="img-wrap img-adapt img-h-110" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/tuanhuo3.png",:class => "img")%>
										</a>
										<div class="img-title text-ellipsis">
											某某某某
										</div>
									</div>
								</li> -->
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default block-mt">
					<div class="inner-panel-heading">
						<span class="pull-right">
							更多
						</span>
						<span class="panel-title">案件</span>
					</div>
					<div class="inner-panel-body">
						<div class="img-column">
							<ul class="clearfix list-unstyled block-list">
							<% @cases.each do |case_item| %>
								<li class="col-xs-6">
									<div class="img-wrap img-adapt">
									<!-- 外框高度限定为100px -->
										<a class="z-cell" href="/cases/<%= case_item.id%>">
											<%= image_tag("#{case_item.photo}",:class => "img")%>
										</a>
										<div class="img-title text-ellipsis">
											<%= case_item.name %>
										</div>
									</div>
								</li>
							<% end %>
								
							</ul>
						</div>
					</div>
				</div>