<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "position_decisions/index", :media => "all", "data-turbolinks-track": "reload" %>
<% end %>

<div class="panel panel-default">
	<div class="inner-panel-heading">
		<span class="pull-right">
			<a href="/suspects/1">更多</a>
		</span>
		<span class="panel-title">嫌疑犯</span>
	</div>
	<div class="inner-panel-body">
		<div class="img-column">
			<ul class="clearfix list-unstyled block-list">
				<% @suspects.each do |suspect| %>
					<li class="col-xs-3 col-sm-2 col-md-4">
						<div class="imgWrap--chh">
							<a class="imgWrap__a--chh" href="/suspects/<%= suspect.id %>">
							 	<%= image_tag("#{suspect.photo}", :class => "imgWrap__img--chh")%>
							</a>
							<div class="imgWrap--title-chh text-ellipsis"><%= suspect.name %></div>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
<div class="panel panel-default block-mt">
	<div class="block-plr inner-panel-heading">
		<span class="pull-right">
			<a href="/suspects_teams/1">更多</a>
		</span>
		<span class="panel-title">嫌疑犯团伙</span>
	</div>
	<div class="inner-panel-body">
		<div class="img-column">
			<ul class="clearfix list-unstyled block-list">
			<% @suspects_teams.each do |suspects_team| %>
				<li class="col-xs-4">
					<div class="imgWrap--chh">
						<a class="imgWrap__a--chh" href="/suspects_teams/<%= suspects_team.id %>">
						 	<%= image_tag("#{suspects_team.photo}", :class => "imgWrap__img--chh")%>
						</a>
						<div class="imgWrap--title-chh text-ellipsis"><%= suspects_team.name %></div>
					</div>
				</li>
			<% end %>
			</ul>
		</div>
	</div>
</div>
<div class="panel panel-default block-mt">
	<div class="inner-panel-heading">
		<span class="pull-right">
			<a href="/cases/1">更多</a>
		</span>
		<span class="panel-title">案件</span>
	</div>
	<div class="inner-panel-body">
		<div class="img-column">
			<ul class="clearfix list-unstyled block-list">
			<% @cases.each do |case_item| %>
				<li class="col-xs-6">
					<div class="imgWrap--chh">
						<a class="imgWrap__a--chh" href="/cases/<%= case_item.id %>">
						 	<%= image_tag("#{case_item.photo}", :class => "imgWrap__img--chh")%>
						</a>
						<div class="imgWrap--title-chh text-ellipsis"><%= case_item.name %></div>
					</div>
				</li>
			<% end %>
			</ul>
		</div>
	</div>
</div>
