<div class="panel panel-default">
	<div class="inner-panel-heading">
		<span class="pull-right">
			<a href="/suspects/1">更多</a>
		</span>
		<span class="panel-title">嫌疑犯</span>
	</div>
	<div class="inner-panel-body">
		<div class="img-column">
			<ul class="clearfix list-unstyled block-list">
				<% @suspects.each do |suspect| %>
					<li class="col-xs-3 col-sm-2 col-md-4">
						<div class="thumbnail-card">
							<a class="thumbnail-wrap" href="<%= suspects_path(suspect)%>">
							 	<%= image_tag("#{suspect.photo}", {:class => "thumbnail-image"})%>
							</a>
							<div class="text-ellipsis thumbnail-caption"><%= suspect.name %></div>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
<div class="panel panel-default block-mt">
	<div class="block-plr inner-panel-heading">
		<span class="pull-right">
			<a href="/suspects_teams/1">更多</a>
		</span>
		<span class="panel-title">嫌疑犯团伙</span>
	</div>
	<div class="inner-panel-body">
		<div class="img-column">
			<ul class="clearfix list-unstyled block-list">
			<% @suspects_teams.each do |suspects_team| %>
				<li class="col-xs-4">
					<div class="thumbnail-card">
						<a class="thumbnail-wrap" href="<%= suspects_teams_path(suspects_team) %>">
						 	<%= image_tag("#{suspects_team.photo}", :class => "thumbnail-image")%>
						</a>
						<div class="text-ellipsis thumbnail-caption"><%= suspects_team.name %></div>
					</div>
				</li>
			<% end %>
			</ul>
		</div>
	</div>
</div>
<div class="panel panel-default block-mt">
	<div class="inner-panel-heading">
		<span class="pull-right">
			<a href="/cases/1">更多</a>
		</span>
		<span class="panel-title">案件</span>
	</div>
	<div class="inner-panel-body">
		<div class="img-column">
			<ul class="clearfix list-unstyled block-list">
			<% @cases.each do |case_item| %>
				<li class="col-xs-6">
					<div class="thumbnail-card">
						<a class="thumbnail-wrap" href="<%= case_path(case_item) %>">
						 	<%= image_tag("#{case_item.photo}", :class => "thumbnail-image")%>
						</a>
						<div class="text-ellipsis thumbnail-caption"><%= case_item.name %></div>
					</div>
				</li>
			<% end %>
			</ul>
		</div>
	</div>
</div>
