 <div class="container-18 csearch-imformation-wrap">
    <div class="panel panel-default">
      <div class="row">
        <div class="col-md-8 col-sm-7">
          <div class="inner-panel-heading">
            <div class="panel-title">
              <a class="more" href="">更多</a>
              基础信息  
            </div>
          </div>
          <hr class="block-mt">
          <div class="row">
            <div class="inner-panel-body">
              <div class="col-lg-6 block-mb">
                <div class="title-conponent">
                  <a class="pull-right text-primary" href="#">详细</a>
                  <span class="f14">张三</span>
                  <span class="label label-warning ml10">嫌疑人</span>
                </div>
                <div class="lh22">
                  <div class="text-gray"> 男，39 </div>
                  <div class="search-condition">
                    <div class="condition-group">
                      <div class="condition-field">户籍地址：</div>
                      <div class="condition-item-group">
                        山东市东花北里20号楼01单元701室
                      </div>
                    </div>
                    <div class="condition-group">
                      <div class="condition-field">相关记录：</div>
                      <div class="condition-item-group">1条</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 block-mb">
                <div class="title-conponent">
                  <a class="pull-right text-primary" href="#">详细</a>
                  <span class="f14">张三</span>
                  <span class="label label-warning ml10">嫌疑人</span>
                </div>
                <div class="lh22">
                  <div class="text-gray"> 男，39 </div>
                  <div class="search-condition">
                    <div class="condition-group">
                      <div class="condition-field">户籍地址：</div>
                      <div class="condition-item-group">
                        山东市东花北里20号楼01单元701室
                      </div>
                    </div>
                    <div class="condition-group">
                      <div class="condition-field">相关记录：</div>
                      <div class="condition-item-group">1条</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 block-mb">
                <div class="title-conponent">
                  <a class="pull-right text-primary" href="#">详细</a>
                  <span class="f14">张三</span>
                  <span class="label label-warning ml10">嫌疑人</span>
                </div>
                <div class="lh22">
                  <div class="text-gray"> 男，39 </div>
                  <div class="search-condition">
                    <div class="condition-group">
                      <div class="condition-field">户籍地址：</div>
                      <div class="condition-item-group">
                        山东市东花北里20号楼01单元701室
                      </div>
                    </div>
                    <div class="condition-group">
                      <div class="condition-field">相关记录：</div>
                      <div class="condition-item-group">1条</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 block-mb">
                <div class="title-conponent">
                  <a class="pull-right text-primary" href="#">详细</a>
                  <span class="f14">张三</span>
                  <span class="label label-warning ml10">嫌疑人</span>
                </div>
                <div class="lh22">
                  <div class="text-gray"> 男，39 </div>
                  <div class="search-condition">
                    <div class="condition-group">
                      <div class="condition-field">户籍地址：</div>
                      <div class="condition-item-group">
                        山东市东花北里20号楼01单元701室
                      </div>
                    </div>
                    <div class="condition-group">
                      <div class="condition-field">相关记录：</div>
                      <div class="condition-item-group">1条</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

          <div class="inner-panel-heading">
            <div class="panel-title">
              <a class="more" href="">更多</a>
              整体视图  
            </div>
          </div>
          <hr class="block-mt">
          <div class="inner-panel-body">
            <div class="row whole-view">
              <div class="col-lg-6 block-mb">
                <div class="media">
                  <div class="media-left">
                    <a class="img-wrap" href="">
                      <%= image_tag("/assets/common/images/people1.png")%>
                      <div class="img-title">张三</div>
                    </a>
                  </div>
                  <div class="media-body">
                    <div class="title-conponent">
                      <span class="f14">张三</span>
                      <span class="label label-warning ml10">嫌疑人</span>
                      <span class="label label-warning ml10">海外</span>
                    </div>
                    <div class="lh22 text-gray">
                    男，39岁，山东市东花北里20号楼01单元701室
                    </div>
                    <div class="ico-tool-list mt5">
                      <div class="ico-wrap" href="">
                        <div class="ico-name">5人</div>
                        <div class="text-gray">
                          <span class="aliconfont icon-family f14"></span> 家庭成员
                        </div>
                      </div>
                      <div class="ico-wrap" href="">
                        <div class="ico-name">3起</div>
                        <div class="text-gray">
                          <span class="aliconfont icon-file f14"></span>关联案件
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 block-mb">
                <div class="media">
                  <div class="media-left">
                    <a class="img-wrap" href="">
                       <%= image_tag("/assets/common/images/people1.png")%>
                      <div class="img-title">张三</div>
                    </a>
                  </div>
                  <div class="media-body">
                    <div class="title-conponent">
                      <span class="f14">张三团伙</span>
                      <span class="label label-warning ml10">嫌疑人</span>
                      <span class="label label-warning ml10">海外</span>
                    </div>
                    <div class="lh22 text-gray">
                    男，39岁，山东市东花北里20号楼01单元701室
                    </div>
                    <div class="ico-tool-list mt5">
                      <div class="ico-wrap">
                        <div class="ico-name">李四</div>
                        <div class="text-gray">
                          <span class="aliconfont icon-people1 f14"></span> 团伙头目
                        </div>
                      </div>
                      <div class="ico-wrap">
                        <div class="ico-name">10人</div>
                        <div class="text-gray">
                          <span class="aliconfont icon-people f14"></span>团伙成员
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>




          
          <div class="inner-panel-heading">
            <div class="panel-title">
              <a class="more" href="">更多</a>
              情报分析  
            </div>
          </div>
          <hr class="block-mt">
          <div class="inner-panel-body">
            <div class="row imformation-analy">
              <div class="col-lg-6 block-mb">
                <div class="media-left">
                  <a class="img-wrap" href="">
                    <%= image_tag("/assets/common/images/img-analy2.png")%>
                    <div class="img-title">
                      张三通话分析
                    </div>
                  </a>
                </div>
                <div class="media-body lh22">
                  <div>
                    <span class="text-gray">分析类别：</span>
                    毒贩马仔张三
                  </div>
                  <div>
                    <span class="text-gray">关联案件：</span>
                    117起走私案   
                  </div>
                  <div>
                    <span class="text-gray">创建人：</span>
                    李建  
                  </div>
                  <div>
                    <span class="text-gray">创建时间：</span>
                    2015-12-12 10:14:12 
                  </div>
                  <div>
                    <span class="text-gray">战法版本：</span>
                    4个  
                  </div>
                  <div>
                    <span class="text-gray">战法编码：</span>
                    z329t8309
                  </div>
                </div>
              </div>
              <div class="col-lg-6 block-mb">
                <div class="media-left">
                  <a class="img-wrap" href="">
                    <%= image_tag("/assets/common/images/img-analy2.png")%>
                    <div class="img-title">
                      张三通话分析
                    </div>
                  </a>
                </div>
                <div class="media-body lh22">
                  <div>
                    <span class="text-gray">分析类别：</span>
                    毒贩马仔张三
                  </div>
                  <div>
                    <span class="text-gray">关联案件：</span>
                    117起走私案   
                  </div>
                  <div>
                    <span class="text-gray">创建人：</span>
                    李建  
                  </div>
                  <div>
                    <span class="text-gray">创建时间：</span>
                    2015-12-12 10:14:12 
                  </div>
                  <div>
                    <span class="text-gray">战法版本：</span>
                    4个  
                  </div>
                  <div>
                    <span class="text-gray">战法编码：</span>
                    z329t8309
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="inner-panel-heading">
            <div class="panel-title">
              <a class="more" href="">更多</a>
              战法画板  
            </div>
          </div>
          <hr class="block-mt">
          <div class="inner-panel-body">
            <div class="row imformation-analy">
              <div class="col-lg-6 block-mb">
                <div class="media-left">
                  <a class="img-wrap" href="">
                    <%= image_tag("/assets/common/images/img-analy1.png")%>
                    <div class="img-title">
                      张三通话分析
                    </div>
                  </a>
                </div>
                <div class="media-body lh22">
                  <div>
                    <span class="text-gray">分析类别：</span>
                    毒贩马仔张三
                  </div>
                  <div>
                    <span class="text-gray">关联案件：</span>
                    117起走私案   
                  </div>
                  <div>
                    <span class="text-gray">创建人：</span>
                    李建  
                  </div>
                  <div>
                    <span class="text-gray">创建时间：</span>
                    2015-12-12 10:14:12 
                  </div>
                  <div>
                    <span class="text-gray">战法版本：</span>
                    4个  
                  </div>
                  <div>
                    <span class="text-gray">战法编码：</span>
                    z329t8309
                  </div>
                </div>
              </div>
              <div class="col-lg-6 block-mb">
                <div class="media-left">
                  <a class="img-wrap" href="">
                    <%= image_tag("/assets/common/images/img-analy2.png")%>
                    <div class="img-title">
                      张三通话分析
                    </div>
                  </a>
                </div>
                <div class="media-body lh22">
                  <div>
                    <span class="text-gray">分析类别：</span>
                    毒贩马仔张三
                  </div>
                  <div>
                    <span class="text-gray">关联案件：</span>
                    117起走私案   
                  </div>
                  <div>
                    <span class="text-gray">创建人：</span>
                    李建  
                  </div>
                  <div>
                    <span class="text-gray">创建时间：</span>
                    2015-12-12 10:14:12 
                  </div>
                  <div>
                    <span class="text-gray">战法版本：</span>
                    4个  
                  </div>
                  <div>
                    <span class="text-gray">战法编码：</span>
                    z329t8309
                  </div>
                </div>
              </div>
            </div>
          </div>
          


          
          <div class="inner-panel-heading">
            <div class="panel-title">
              <a class="more" href="">更多</a>
              预警情报
            </div>
          </div>
          <hr class="block-mt">
          <div class="inner-panel-body">
            <div class="row">
              <div class="col-lg-6 block-mb">
                <div class="title-conponent">
                  <a class="pull-right text-primary" href="#">详细</a>
                  <span class="f14">张三</span>
                  <span class="label label-warning ml10">可疑人员</span>
                </div>
                <div class="lh22">
                  <div class="text-gray"> 男，39岁</div>
                  <div class="search-condition">
                    <div class="condition-group">
                      <div class="condition-field">户籍地址：</div>
                      <div class="condition-item-group">
                        山东市东花北里20号楼01单元701室
                      </div>
                    </div>
                    <div class="condition-group">
                      <div class="condition-field">相关记录：</div>
                      <div class="condition-item-group">1条</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 block-mb">
                <div class="title-conponent">
                  <a class="pull-right text-primary" href="#">详细</a>
                  <span class="f14">粤A2142</span>
                  <span class="label label-warning ml10">可以车辆</span>
                </div>
                <div class="lh22">
                  <div class="text-gray">大众，白色</div>
                  <div class="search-condition">
                    <div class="condition-group">
                      <div class="condition-field">车主记录：</div>
                      <div class="condition-item-group">
                        张三
                      </div>
                    </div>
                    <div class="condition-group">
                      <div class="condition-field">相关记录：</div>
                      <div class="condition-item-group">1条</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 block-mb">
                <div class="title-conponent">
                  <a class="pull-right text-primary" href="#">详细</a>
                  <span class="f14">东贸贸易有限公司</span>
                  <span class="label label-warning ml10">可疑公司</span>
                </div>
                <div class="lh22">
                  <div class="search-condition">
                    <div class="condition-group">
                      <div class="condition-field">法人代表：</div>
                      <div class="condition-item-group">
                        张三
                      </div>
                      <div class="condition-field">居住地址：</div>
                      <div class="condition-item-group">
                        山东市东花北里20号楼01单元701室
                      </div>
                    </div>
                    <div class="condition-group">
                      <div class="condition-field">相关记录：</div>
                      <div class="condition-item-group">1条</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 block-mb">
                <div class="title-conponent">
                  <a class="pull-right text-primary" href="#">详细</a>
                  <span class="f14">张三</span>
                  <span class="label label-warning ml10">可疑人员</span>
                </div>
                <div class="lh22">
                  <div class="text-gray"> 男，39 </div>
                  <div class="search-condition">
                    <div class="condition-group">
                      <div class="condition-field">户籍地址：</div>
                      <div class="condition-item-group">
                        山东市东花北里20号楼01单元701室
                      </div>
                    </div>
                    <div class="condition-group">
                      <div class="condition-field">相关记录：</div>
                      <div class="condition-item-group">1条</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>
        <div class="col-md-4 col-sm-5">
          <div class="search-wrap">
            <div class="alert alert-success">
              <span class="close" data-dismiss='alert'>&times;</span>
              智能搜索为你找到相关结果100个
            </div>
            <div class="block-mb">
              <span class="glyphicon glyphicon-filter text-gray"></span>
              <span class="inner-panel-subtitle">搜索条件</span>
            </div>  
            <ul class="list-unstyled search-condition">
              <li>
                <dl class="condition-group">
                  <dt class="condition-field">数据生成时间：</dt>
                  <dd class="condition-item-group">
                      <a class="condition-item text-primary" href="">全部</a>
                      <a class="condition-item text-gray-dark" href="">一天内</a>
                      <a class="condition-item text-gray-dark" href="">一周内</a>
                      <a class="condition-item text-gray-dark" href="">一月内</a>
                      <a class="condition-item text-gray-dark" href="">一年内</a>
                  </dd>
                </dl>
                <dl class="condition-group">
                  <dt class="condition-field mt5">自定义时间：</dt>
                    <dd class="condition-item-group">
                        <div class="input-group input-group-sm">
                          <input class="form-control" type="text">
                          <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar text-primary"></span>
                          </span>
                          <span class="input-group-addon no-bd">到</span>
                          <input class="form-control" type="text">
                          <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar text-primary"></span>
                          </span>
                        </div>
                    </dd>
                </dl>
                <dl class="condition-group mt10">
                  <dt class="condition-field">信息分类：</dt>
                  <dd class="condition-item-group">
                      <a class="condition-item" href="">全部</a>
                      <a class="condition-item text-gray-dark" href="">基础信息</a>
                      <a class="condition-item text-gray-dark" href="">整体视图</a>
                      <a class="condition-item text-gray-dark" href="">情报分析</a>
                      <a class="condition-item text-gray-dark" href="">战法画板</a>
                      <a class="condition-item text-gray-dark" href="">预警情报</a>
                  </dd>
                </dl>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </div>