<div class="container-18">
		<div class="panel panel-default">
			<div class="row">
				<div class="col-md-8 col-sm-7">
					<div class="inner-panel-heading">
						<div class="panel-title">人脸识别系统</div>
					</div>
					<div class="inner-panel-body">
						<div class="img-column">
							<ul class="clearfix list-unstyled block-list">
								<li class="col-xs-4 col-lg-2">
									<div class="img-wrap img-adapt" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/img-stock1.png")%>
										</a>
										<div class="img-title">
											<span class="pull-right ml10 mr05">
												<a class="glyphicon glyphicon-download-alt mr5 text-white" href=""></a>
												<a class="glyphicon glyphicon-fullscreen text-white" href=""></a>
											</span>
											<div class="text-ellipsis">2019-12-12 12:12:12</div>
										</div>
									</div>
								</li>
								<li class="col-xs-4 col-lg-2">
									<div class="img-wrap img-adapt" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/img-stock4.png")%>
										</a>
										<div class="img-title">
											<span class="pull-right ml10 mr05">
												<a class="glyphicon glyphicon-download-alt mr5 text-white" href=""></a>
												<a class="glyphicon glyphicon-fullscreen text-white" href=""></a>
											</span>
											<div class="text-ellipsis">2019-12-12 12:12:12</div>
										</div>
									</div>
								</li>
								<li class="col-xs-4 col-lg-2">
									<div class="img-wrap img-adapt" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/img-stock5.png")%>
										</a>
										<div class="img-title">
											<span class="pull-right ml10 mr05">
												<a class="glyphicon glyphicon-download-alt mr5 text-white" href=""></a>
												<a class="glyphicon glyphicon-fullscreen text-white" href=""></a>
											</span>
											<div class="text-ellipsis">2019-12-12 12:12:12</div>
										</div>
									</div>
								</li>
								<li class="col-xs-4 col-lg-2">
									<div class="img-wrap img-adapt" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/img-stock6.png")%>
										</a>
										<div class="img-title">
											<span class="pull-right ml10 mr05">
												<a class="glyphicon glyphicon-download-alt mr5 text-white" href=""></a>
												<a class="glyphicon glyphicon-fullscreen text-white" href=""></a>
											</span>
											<div class="text-ellipsis">2019-12-12 12:12:12</div>
										</div>
									</div>
								</li>
								<li class="col-xs-4 col-lg-2">
									<div class="img-wrap img-adapt" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/img-stock7.png")%>
										</a>
										<div class="img-title">
											<span class="pull-right ml10 mr05">
												<a class="glyphicon glyphicon-download-alt mr5 text-white" href=""></a>
												<a class="glyphicon glyphicon-fullscreen text-white" href=""></a>
											</span>
											<div class="text-ellipsis">2019-12-12 12:12:12</div>
										</div>
									</div>
								</li>
								<li class="col-xs-4 col-lg-2">
									<div class="img-wrap img-adapt" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/img-stock8.png")%>
										</a>
										<div class="img-title">
											<span class="pull-right ml10 mr05">
												<a class="glyphicon glyphicon-download-alt mr5 text-white" href=""></a>
												<a class="glyphicon glyphicon-fullscreen text-white" href=""></a>
											</span>
											<div class="text-ellipsis">2019-12-12 12:12:12</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					



					<div class="inner-panel-heading">
						<div class="panel-title">立体云防系统</div>
					</div>
					<div class="inner-panel-body">
						<div class="img-column">
							<ul class="clearfix list-unstyled block-list">
								<li class="col-xs-6 col-lg-3">
									<div class="img-wrap img-adapt" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/img-stock23.png")%>
										</a>
										<div class="img-title">
											<span class="pull-right ml10 mr05">
												<a class="text-white glyphicon glyphicon-download-alt mr5" href=""></a>
												<a class="text-white glyphicon glyphicon-fullscreen" href=""></a>
											</span>
											<div class="text-ellipsis">2019-12-12 12:12:12</div>
										</div>
									</div>
								</li>
								<li class="col-xs-6 col-lg-3">
									<div class="img-wrap img-adapt" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/img-stock10.png")%>
										</a>
										<div class="img-title">
											<span class="pull-right ml10 mr05">
												<a class="text-white glyphicon glyphicon-download-alt mr5" href=""></a>
												<a class="text-white glyphicon glyphicon-fullscreen" href=""></a>
											</span>
											<div class="text-ellipsis">2019-12-12 12:12:12</div>
										</div>
									</div>
								</li>
								<li class="col-xs-6 col-lg-3">
									<div class="img-wrap img-adapt" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/img-stock11.png")%>
										</a>
										<div class="img-title">
											<span class="pull-right ml10 mr05">
												<a class="text-white glyphicon glyphicon-download-alt mr5" href=""></a>
												<a class="text-white glyphicon glyphicon-fullscreen" href=""></a>
											</span>
											<div class="text-ellipsis">2019-12-12 12:12:12</div>
										</div>
									</div>
								</li>
								<li class="col-xs-6 col-lg-3">
									<div class="img-wrap img-adapt" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/img-stock12.png")%>
										</a>
										<div class="img-title">
											<span class="pull-right ml10 mr05">
												<a class="text-white glyphicon glyphicon-download-alt mr5" href=""></a>
												<a class="text-white glyphicon glyphicon-fullscreen" href=""></a>
											</span>
											<div class="text-ellipsis">2019-12-12 12:12:12</div>
										</div>
									</div>
								</li>

							</ul>
						</div>
					</div>
					



					<div class="inner-panel-heading">
						<div class="panel-title">嫌疑人手机相册</div>
					</div>
					<div class="inner-panel-body">
						<div class="img-column">
							<ul class="clearfix list-unstyled block-list">
								<li class="col-xs-6 col-lg-3">
									<div class="img-wrap img-adapt" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/img-stock2.png")%>
										</a>
										<div class="img-title">
											<span class="pull-right ml10 mr05">
												<a class="text-white glyphicon glyphicon-download-alt mr5" href=""></a>
												<a class="text-white glyphicon glyphicon-fullscreen" href=""></a>
											</span>
											<div class="text-ellipsis">2019-12-12 12:12:12</div>
										</div>
									</div>
								</li>
								<li class="col-xs-6 col-lg-3">
									<div class="img-wrap img-adapt" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/img-stock13.png")%>
										</a>
										<div class="img-title">
											<span class="pull-right ml10 mr05">
												<a class="text-white glyphicon glyphicon-download-alt mr5" href=""></a>
												<a class="text-white glyphicon glyphicon-fullscreen" href=""></a>
											</span>
											<div class="text-ellipsis">2019-12-12 12:12:12</div>
										</div>
									</div>
								</li>
								<li class="col-xs-6 col-lg-3">
									<div class="img-wrap img-adapt" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/img-stock14.png")%>
										</a>
										<div class="img-title">
											<span class="pull-right ml10 mr05">
												<a class="text-white glyphicon glyphicon-download-alt mr5" href=""></a>
												<a class="text-white glyphicon glyphicon-fullscreen" href=""></a>
											</span>
											<div class="text-ellipsis">2019-12-12 12:12:12</div>
										</div>
									</div>
								</li>
								<li class="col-xs-6 col-lg-3">
									<div class="img-wrap img-adapt" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/img-stock15.png")%>
										</a>
										<div class="img-title">
											<span class="pull-right ml10 mr05">
												<a class="text-white glyphicon glyphicon-download-alt mr5" href=""></a>
												<a class="text-white glyphicon glyphicon-fullscreen" href=""></a>
											</span>
											<div class="text-ellipsis">2019-12-12 12:12:12</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					



					<div class="inner-panel-heading">
						<div class="panel-title">情报人员采集</div>
					</div>
					<div class="inner-panel-body">
						<div class="img-column">
							<ul class="clearfix list-unstyled block-list">
								<li class="col-xs-4 col-lg-2">
									<div class="img-wrap img-adapt" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/img-stock3.png")%>
										</a>
										<div class="img-title">
											<span class="pull-right ml10 mr05">
												<a class="glyphicon glyphicon-download-alt mr5 text-white" href=""></a>
												<a class="glyphicon glyphicon-fullscreen text-white" href=""></a>
											</span>
											<div class="text-ellipsis">2019-12-12 12:12:12</div>
										</div>
									</div>
								</li>
								<li class="col-xs-4 col-lg-2">
									<div class="img-wrap img-adapt" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/img-stock16.png")%>
										</a>
										<div class="img-title">
											<span class="pull-right ml10 mr05">
												<a class="glyphicon glyphicon-download-alt mr5 text-white" href=""></a>
												<a class="glyphicon glyphicon-fullscreen text-white" href=""></a>
											</span>
											<div class="text-ellipsis">2019-12-12 12:12:12</div>
										</div>
									</div>
								</li>
								<li class="col-xs-4 col-lg-2">
									<div class="img-wrap img-adapt" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/img-stock17.png")%>
										<div class="img-title">
											<span class="pull-right ml10 mr05">
												<a class="glyphicon glyphicon-download-alt mr5 text-white" href=""></a>
												<a class="glyphicon glyphicon-fullscreen text-white" href=""></a>
											</span>
											<div class="text-ellipsis">2019-12-12 12:12:12</div>
										</div>
									</div>
								</li>
								<li class="col-xs-4 col-lg-2">
									<div class="img-wrap img-adapt" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/img-stock18.png")%>
										</a>
										<div class="img-title">
											<span class="pull-right ml10 mr05">
												<a class="glyphicon glyphicon-download-alt mr5 text-white" href=""></a>
												<a class="glyphicon glyphicon-fullscreen text-white" href=""></a>
											</span>
											<div class="text-ellipsis">2019-12-12 12:12:12</div>
										</div>
									</div>
								</li>
								<li class="col-xs-4 col-lg-2">
									<div class="img-wrap img-adapt" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/img-stock19.png")%>
										</a>
										<div class="img-title">
											<span class="pull-right ml10 mr05">
												<a class="glyphicon glyphicon-download-alt mr5 text-white" href=""></a>
												<a class="glyphicon glyphicon-fullscreen text-white" href=""></a>
											</span>
											<div class="text-ellipsis">2019-12-12 12:12:12</div>
										</div>
									</div>
								</li>
								<li class="col-xs-4 col-lg-2">
									<div class="img-wrap img-adapt" href="#">
										<a class="z-cell" href="">
											<%= image_tag("/assets/common/images/image/img-stock22.png")%>
										</a>
										<div class="img-title">
											<span class="pull-right ml10 mr05">
												<a class="glyphicon glyphicon-download-alt mr5 text-white" href=""></a>
												<a class="glyphicon glyphicon-fullscreen text-white" href=""></a>
											</span>
											<div class="text-ellipsis">2019-12-12 12:12:12</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<ul class="pagination">
							<li>
								<a href="#">
									<span>&laquo;</span>
								</a>
							</li>
							<li class="active">
								<a href="#">1</a>
							</li>
							<li>
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<a href="#">4</a>
							</li>
							<li>
								<a href="#">5</a>
							</li>
							<li>
								<a href="#">
									<span>&raquo;</span>
								</a>
							</li>
						</ul>

					</div>
					
					


					
				</div>
				<!-- col-md-8 end -->
				<div class="col-md-4 col-sm-5">
					<div class="search-wrap">
						<div class="alert alert-success">
							<span class="close" data-dismiss='alert'>&times;</span>
							智能搜索为你找到相关结果100个
						</div>
						<div class="block-mb">
							<span class="glyphicon glyphicon-filter text-gray"></span>
							<span class="inner-panel-subtitle">搜索条件</span>
						</div>	
						<ul class="list-unstyled search-condition">
							<li>
								<dl class="condition-group">
									<dt class="condition-field">采集时间：</dt>
									<dd class="condition-item-group">
									  	<a class="condition-item text-primary" href="">全部</a>
									  	<a class="condition-item text-gray-dark" href="">一周内</a>
									  	<a class="condition-item text-gray-dark" href="">一月内</a>
									  	<a class="condition-item text-gray-dark" href="">一年内</a>
									</dd>
								</dl>
								<dl class="condition-group">
									<dt class="condition-field">采集地点：</dt>
									    <dd class="condition-item-group">
									  	    <a class="condition-item" href="">全部</a>
									  	    <a class="condition-item text-gray-dark" href=""> 白云机场</a>
									  	    <a class="condition-item text-gray-dark" href="">南沙岗</a>
									  	    <a class="condition-item text-gray-dark" href="">水上</a>
									    </dd>
								</dl>
								<dl class="condition-group">
									<dt class="condition-field">图片来源：</dt>
									<dd class="condition-item-group">
									  	<a class="condition-item" href="">全部</a>
									  	<a class="condition-item text-gray-dark" href="">人脸识别</a>
									  	<a class="condition-item text-gray-dark" href="">立体云防</a>
									  	<a class="condition-item text-gray-dark" href="">手机相册</a>
									  	<a class="condition-item text-gray-dark" href="">情报人员</a>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
		</div>
	</div>