<div class="container-18">
		<div class="panel panel-default">
			<div class="row">
				<div class="col-md-8 col-sm-7">
					<div class="inner-panel-heading">
						<span class="ml10">文档类型：</span>
						<label class="radio-ui">
							<i class="ico-radio selected"><input type="radio"></i>
							全部
						</label>
						<label class="radio-ui">
							<i class="ico-radio"><input type="radio"></i>
							DOC
						</label>
						<label class="radio-ui">
							<i class="ico-radio"><input type="radio"></i>
							XLS
						</label>
						<label class="radio-ui">
							<i class="ico-radio"><input type="radio"></i>
							TXT
						</label>
					</div>
					<hr>
					<div class="panel-body">
						<ul class="media-list">
							<li class="media media-img40">
								<div class="media-left">
									<%= image_tag("/assets/common/images/audio_def.png")%>
								</div>
								<div class="media-body">
									<div class="media-heading">
										<a class="text-gray-dark" href="">
											<u>
											<span class="text-danger">情报分析</span>相关工具与功能整理
											</u>
										</a>
									</div>
									<div>
										<span class="text-danger">情报分析</span>
										相关工具与功能整理一. 现有工具类整理介绍包括开源免费的软件和商业软件(有功能限制的免费版、可内部使用的破解版) 。这些
									</div>
									<div class="clearfix text-gray mt5">
										<button class="btn btn-primary pull-right btn-sm btn-long" type="button">下载</button>
										<div class="mt10">
											2015-01-31
											<span class="line-space">|</span>
											共6页
											<span class="line-space">|</span>
											29次下载
											<span class="line-space">|</span>
											作者：松夫子	
										</div>
									</div>
								</div>
							</li>
							<li class="media media-img40">
								<div class="media-left">
									<%= image_tag("/assets/common/images/documemt_def.png")%>
								</div>
								<div class="media-body">
									<div class="media-heading">
										<a class="text-gray-dark" href="">
											<u>
											<span class="text-danger">情报分析</span>相关工具与功能整理
											</u>
										</a>
									</div>
									<div>
										<span class="text-danger">情报分析</span>
										相关工具与功能整理一. 现有工具类整理介绍包括开源免费的软件和商业软件(有功能限制的免费版、可内部使用的破解版) 。这些
									</div>
									<div class="clearfix text-gray mt5">
										<button class="btn btn-primary pull-right btn-sm btn-long" type="button">下载</button>
										<div class="mt10">
											2015-01-31
											<span class="line-space">|</span>
											共6页
											<span class="line-space">|</span>
											29次下载
											<span class="line-space">|</span>
											作者：松夫子	
										</div>
									</div>
								</div>
							</li>
							<li class="media media-img40">
								<div class="media-left">
									<%= image_tag("/assets/common/images/excel_def.png")%>
								</div>
								<div class="media-body">
									<div class="media-heading">
										<a class="text-gray-dark" href="">
											<u>
											<span class="text-danger">情报分析</span>相关工具与功能整理
											</u>
										</a>
									</div>
									<div>
										<span class="text-danger">情报分析</span>
										相关工具与功能整理一. 现有工具类整理介绍包括开源免费的软件和商业软件(有功能限制的免费版、可内部使用的破解版) 。这些
									</div>
									<div class="clearfix text-gray mt5">
										<button class="btn btn-primary pull-right btn-sm btn-long" type="button">下载</button>
										<div class="mt10">
											2015-01-31
											<span class="line-space">|</span>
											共6页
											<span class="line-space">|</span>
											29次下载
											<span class="line-space">|</span>
											作者：松夫子	
										</div>
									</div>
								</div>
							</li>
							<li class="media media-img40">
								<div class="media-left">
									<%= image_tag("/assets/common/images/img_def.png")%>
								</div>
								<div class="media-body">
									<div class="media-heading">
										<a class="text-gray-dark" href="">
											<u>
											<span class="text-danger">情报分析</span>相关工具与功能整理
											</u>
										</a>
									</div>
									<div>
										<span class="text-danger">情报分析</span>
										相关工具与功能整理一. 现有工具类整理介绍包括开源免费的软件和商业软件(有功能限制的免费版、可内部使用的破解版) 。这些
									</div>
									<div class="clearfix text-gray mt5">
										<button class="btn btn-primary pull-right btn-sm btn-long" type="button">下载</button>
										<div class="mt10">
											2015-01-31
											<span class="line-space">|</span>
											共6页
											<span class="line-space">|</span>
											29次下载
											<span class="line-space">|</span>
											作者：松夫子	
										</div>
									</div>
								</div>
							</li>
							<li class="media media-img40">
								<div class="media-left">
									<%= image_tag("/assets/common/images/img_def.png")%>
								</div>
								<div class="media-body">
									<div class="media-heading">
										<a class="text-gray-dark" href="">
											<u>
											<span class="text-danger">情报分析</span>相关工具与功能整理
											</u>
										</a>
									</div>
									<div>
										<span class="text-danger">情报分析</span>
										相关工具与功能整理一. 现有工具类整理介绍包括开源免费的软件和商业软件(有功能限制的免费版、可内部使用的破解版) 。这些
									</div>
									<div class="clearfix text-gray mt5">
										<button class="btn btn-primary pull-right btn-sm btn-long" type="button">下载</button>
										<div class="mt10">
											2015-01-31
											<span class="line-space">|</span>
											共6页
											<span class="line-space">|</span>
											29次下载
											<span class="line-space">|</span>
											作者：松夫子	
										</div>
									</div>
								</div>
							</li>
						</ul>
						<ul class="pagination">
							<li>
								<a href="#">
									<span>&laquo;</span>
								</a>
							</li>
							<li class="active">
								<a href="#">1</a>
							</li>
							<li>
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<a href="#">4</a>
							</li>
							<li>
								<a href="#">5</a>
							</li>
							<li>
								<a href="#">
									<span>&raquo;</span>
								</a>
							</li>
						</ul>
					</div>	
				</div>
				<div class="col-md-4 col-sm-5">
					<div class="search-wrap">
						<div class="alert alert-success">
							<span class="close" data-dismiss='alert'>&times;</span>
							智能搜索为你找到相关结果100个
						</div>
						<div class="block-mb">
							<span class="glyphicon glyphicon-filter text-gray"></span>
							<span class="inner-panel-subtitle">搜索条件</span>
						</div>	
						<ul class="list-unstyled search-condition">
							<li>
								<dl class="condition-group">
									<dt class="condition-field">页数：</dt>
									<dd class="condition-item-group">
									  	<a class="condition-item text-primary" href="">全部</a>
									  	<a class="condition-item text-gray-dark" href="">0-5页</a>
									  	<a class="condition-item text-gray-dark" href="">6-10页</a>
									  	<a class="condition-item text-gray-dark" href="">10页以上</a>
									</dd>
								</dl>
								<dl class="condition-group">
									<dt class="condition-field">发布时间：</dt>
									    <dd class="condition-item-group">
									  	    <a class="condition-item" href="">全部</a>
									  	    <a class="condition-item text-gray-dark" href="">1个月内</a>
									  	    <a class="condition-item text-gray-dark" href="">6个月内</a>
									    </dd>
								</dl>
								<dl class="condition-group">
									<dt class="condition-field">排序：</dt>
									<dd class="condition-item-group">
									  	<a class="condition-item" href="">最近上传</a>
									  	<a class="condition-item text-gray-dark" href="">最多下载</a>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>