<div class="container-18">
		<div class="panel panel-default">
			<div class="row">
				<div class="col-md-8 col-sm-7">
					<div class="panel-body">
						<div class="img-column">
							<ul class="clearfix list-unstyled block-list">
								<li class="col-xs-6 col-md-4 col-lg-3">
									<a class="img-wrap img-adapt" href="#">
										<div class="z-cell">
											<%= image_tag("vedio.png")%>
										</div>
										<div class="img-title">
											<span class="pull-right">1:00:20</span>
											白云机场
										</div>
									</a>
									<div class="text-ellipsis mt5">
										<a class="text-muted" href="">广州：海关查获外籍<span class="text-danger">走私毒品</span>,共133吨</a>
									</div>
								</li>
								<li class="col-xs-6 col-md-4 col-lg-3">
									<a class="img-wrap img-adapt" href="#">
										<div class="z-cell">
											<%= image_tag("vedio.png")%>
										</div>
										<div class="img-title">
											<span class="pull-right">1:00:20</span>
											白云机场
										</div>
									</a>
									<div class="text-ellipsis mt5">
										<a class="text-muted" href="">广州：海关查获外籍<span class="text-danger">走私毒品</span></a>
									</div>
								</li>
								<li class="col-xs-6 col-md-4 col-lg-3">
									<a class="img-wrap img-adapt" href="#">
										<div class="z-cell">
											<%= image_tag("vedio.png")%>
										</div>
										<div class="img-title">
											<span class="pull-right">1:00:20</span>
											白云机场
										</div>
									</a>
									<div class="text-ellipsis mt5">
										<a class="text-muted" href="">广州：海关查获外籍<span class="text-danger">走私毒品</span></a>
									</div>
								</li>
								<li class="col-xs-6 col-md-4 col-lg-3">
									<a class="img-wrap img-adapt" href="#">
										<div class="z-cell">
											<%= image_tag("vedio.png")%>
										</div>
										<div class="img-title">
											<span class="pull-right">1:00:20</span>
											白云机场
										</div>
									</a>
									<div class="text-ellipsis mt5">
										<a class="text-muted" href="">广州：海关查获外籍<span class="text-danger">走私毒品</span></a>
									</div>
								</li>
								<li class="col-xs-6 col-md-4 col-lg-3">
									<a class="img-wrap img-adapt" href="#">
										<div class="z-cell">
											<%= image_tag("vedio.png")%>
										</div>
										<div class="img-title">
											<span class="pull-right">1:00:20</span>
											白云机场
										</div>
									</a>
									<div class="text-ellipsis mt5">
										<a class="text-muted" href="">广州：海关查获外籍<span class="text-danger">走私毒品</span></a>
									</div>
								</li>
								<li class="col-xs-6 col-md-4 col-lg-3">
									<a class="img-wrap img-adapt" href="#">
										<div class="z-cell">
											<%= image_tag("vedio.png")%>
										</div>
										<div class="img-title">
											<span class="pull-right">1:00:20</span>
											白云机场
										</div>
									</a>
									<div class="text-ellipsis mt5">
										<a class="text-muted" href="">广州：海关查获外籍<span class="text-danger">走私毒品</span></a>
									</div>
								</li>
								<li class="col-xs-6 col-md-4 col-lg-3">
									<a class="img-wrap img-adapt" href="#">
										<div class="z-cell">
											<%= image_tag("vedio.png")%>
										</div>
										<div class="img-title">
											<span class="pull-right">1:00:20</span>
											白云机场
										</div>
									</a>
									<div class="text-ellipsis mt5">
										<a class="text-muted" href="">广州：海关查获外籍<span class="text-danger">走私毒品</span></a>
									</div>
								</li>
								<li class="col-xs-6 col-md-4 col-lg-3">
									<a class="img-wrap img-adapt" href="#">
										<div class="z-cell">
											<%= image_tag("vedio.png")%>
										</div>
										<div class="img-title">
											<span class="pull-right">1:00:20</span>
											白云机场
										</div>
									</a>
									<div class="text-ellipsis mt5">
										<a class="text-muted" href="">广州：海关查获外籍<span class="text-danger">走私毒品</span></a>
									</div>
								</li>
								<li class="col-xs-6 col-md-4 col-lg-3">
									<a class="img-wrap img-adapt" href="#">
										<div class="z-cell">
											<%= image_tag("vedio.png")%>
										</div>
										<div class="img-title">
											<span class="pull-right">1:00:20</span>
											白云机场
										</div>
									</a>
									<div class="text-ellipsis mt5">
										<a class="text-muted" href="">广州：海关查获外籍<span class="text-danger">走私毒品</span></a>
									</div>
								</li>
								<li class="col-xs-6 col-md-4 col-lg-3">
									<a class="img-wrap img-adapt" href="#">
										<div class="z-cell">
											<%= image_tag("vedio.png")%>
										</div>
										<div class="img-title">
											<span class="pull-right">1:00:20</span>
											白云机场
										</div>
									</a>
									<div class="text-ellipsis mt5">
										<a class="text-muted" href="">广州：海关查获外籍<span class="text-danger">走私毒品</span></a>
									</div>
								</li>
								<li class="col-xs-6 col-md-4 col-lg-3">
									<a class="img-wrap img-adapt" href="#">
										<div class="z-cell">
											<%= image_tag("vedio.png")%>
										</div>
										<div class="img-title">
											<span class="pull-right">1:00:20</span>
											白云机场
										</div>
									</a>
									<div class="text-ellipsis mt5">
										<a class="text-muted" href="">广州：海关查获外籍<span class="text-danger">走私毒品</span></a>
									</div>
								</li>
								<li class="col-xs-6 col-md-4 col-lg-3">
									<a class="img-wrap img-adapt" href="#">
										<div class="z-cell">
											<%= image_tag("vedio.png")%>
										</div>
										<div class="img-title">
											<span class="pull-right">1:00:20</span>
											白云机场
										</div>
									</a>
									<div class="text-ellipsis mt5">
										<a class="text-muted" href="">广州：海关查获外籍<span class="text-danger">走私毒品</span></a>
									</div>
								</li>
							</ul>
						</div>
						<ul class="pagination">
							<li>
								<a href="#">
									<span>&laquo;</span>
								</a>
							</li>
							<li class="active">
								<a href="#">1</a>
							</li>
							<li>
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<a href="#">4</a>
							</li>
							<li>
								<a href="#">5</a>
							</li>
							<li>
								<a href="#">
									<span>&raquo;</span>
								</a>
							</li>
						</ul>
						<!-- paginatin end -->
					</div>


				</div>
				<div class="col-md-4 col-sm-5">
					<div class="search-wrap">
						<div class="alert alert-success">
							<span class="close" data-dismiss='alert'>&times;</span>
							智能搜索为你找到相关结果100个
						</div>
						<div class="block-mb">
							<span class="glyphicon glyphicon-filter text-gray"></span>
							<span class="inner-panel-subtitle">搜索条件</span>
						</div>
						<ul class="list-unstyled search-condition">
							<li>
								<dl class="condition-group">
									<dt class="condition-field">时长：</dt>
									<dd class="condition-item-group">
									  	<a class="condition-item text-primary" href="">全部</a>
									  	<a class="condition-item text-gray-dark" href="">长(30分钟以上)</a>
									  	<a class="condition-item text-gray-dark" href="">中（10到30分钟）</a>
									  	<a class="condition-item text-gray-dark" href="">短（0到10分钟）</a>
									</dd>
								</dl>
								<dl class="condition-group">
									<dt class="condition-field">视频时间：</dt>
									    <dd class="condition-item-group">
									  	    <a class="condition-item" href="">全部</a>
									  	    <a class="condition-item text-gray-dark" href="">一周内</a>
									  	    <a class="condition-item text-gray-dark" href="">一月内</a>
									  	    <a class="condition-item text-gray-dark" href="">一年内</a>
									    </dd>
								</dl>
								<dl class="condition-group">
									<dt class="condition-field">视频来源：</dt>
									<dd class="condition-item-group">
									  	<a class="condition-item" href="">全部</a>
									  	<a class="condition-item text-gray-dark" href="">白云机场</a>
									  	<a class="condition-item text-gray-dark" href="">南沙港</a>
									  	<a class="condition-item text-gray-dark" href="">水上保税仓</a>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
			</div>


		</div>
	</div>
